/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 1140px;
}

/*********************
HEADER STYLES
*********************/

.header {
	#searchform {
		float: right;

		.search-text, #searchsubmit {
			float: left;
		}
		.search-text {
			background-color: @gray-light;
			border: 1px solid @gray-lighter;
			color: white;
			padding-left: 6px;
			font-family: @sans-content;	
			.placeholder(@gray-lighter);
			height: 26px;
			border-radius: 1px 0 0 1px;
			font-size: 0.875em;
		}
		#searchsubmit{
			background: @gray url("../images/sprite.png") no-repeat;
			background-position: -470px 4px;
			width: 37px;
			height: 26px;
			border: 1px solid @gray-lighter;
			border-left: none;
			margin-left: -3px;
			border-radius: 0 1px 1px 0;
		}	
	}
	.header-upper {
		display: block;
	}
	nav {
		margin: 1.75em 0 0 0;

		.navbar-collapse {
			margin: 0;
			background: none;
			.mobile_search{
				display:none;
			}
			ul.nav {
				margin: 1em 0 0 0;
				>li {
					background: @gray-dark;
					border-bottom: none;
					padding: 0.5em 0;
					
					>a {
						border-right: 1px solid #474747;
						color: @gray-lighter;
						font-weight: normal;
						padding: 0 0.5em;
						.nav-desc {
							display: none;
						}
					}
				}
				.open, .current-menu-item {
					background: black;
				}
			}
		}
	}
}

	#logo {}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	border: 0;
	
	li {
		float: left;
		/*position: relative;*/
		ul{
			.share{
				display:block;
			}
			.closemenu {
				display:block;
			}
			clear:both;
			li{
				float:none;
				margin-left: 0;
				a {
					font-size: 1.2em;
				}
			}
			.submenu-wrapper {
				float: left;
				width: 20%;
				padding-bottom: 1em;
				a {
					padding: 0;
					margin: 0 0 1em 0;
				}
			}
			.article_preview_wrapper{
				display: block;
				float: left;
				width: 70%;
				.item_wrapper {
					float: left;
					margin-left: 63px;
					width: 20%;
					a {
						background: none;
						padding: 0;
						font-size: 0.875em;
						line-height: 1.25em;
						&:hover {
							text-decoration: underline;
						}
					}
					.img-link {
						border-right:0 !important;
						width: 125px;
						height: 125px;
						text-align:left;
						padding-left: 0;
					}
					h3 {
						text-transform:none;
						color: black;
						font-family: @sans-serif;
						text-align:left;
						font-size: 1.2em;
						margin-top: 10px;
						margin-bottom:0;
					}
					time {
						display: block;
						margin-top: 0.375em;
						color: @gray-light;
					}
				}
			}
		}
		a {
			border-bottom: 0;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			display: none;
			z-index: 8999;

			li {
				
				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;

				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/

.top-three {
  display:block;
	.barred-heading {
		letter-spacing: 0.125em;
		font-size: 1.375em;
	}
	article {
		.thumb-wrap {
			.top-three-thumb {
				width: 100%;
				height: auto;
				&:before {
					background-position: -999px -999px;
				}
			}
		}
		.top-three-number {
			line-height: 1.25em;
			top: 0.1em;
			font-size: 6em;
			text-indent: 0;
			left: -4px;
		}
		figcaption {
			top: 1em;
		}
	}
}

.homepage-promo {
	#homepage-promo-carousel {
		.carousel-caption {
			border: 1px solid #363636;
			bottom: 3%;
			left: 3%;
			right: 3%;
		}
		h2 {
			&:after {
				border-top: 1px solid #252525;
				border-bottom: 0;
				width: 200px;
				height: 1px;
				display: block;
				content: "";
				margin: 0.5em auto 0.5em auto;
			}
		}
		p {
			display: block;
		}
		.carousel-indicators {
			bottom: 30px;
		}
	}
}

.latest-articles {
	.barred-heading {
		font-size: 1.875em;
	}
	article {
		//min-height: 330px;
		margin: 0 0 2em 0;
		padding: 0;
		&:nth-of-type(3n+1) {
			clear: left;
		}
	}
	h2 {
		font-size: 0.875em;
		margin-top: 1.25em;
		text-transform: uppercase;
	}
}

.featured {
	.featured-primary {
		figure {
			background: @gray-dark;
			margin-bottom: 4.375em;

			.featured-primary-imgwrap {
				padding: 0 !important;
			}
			figcaption {
				margin-top: 18%;
				margin-left: 0;
			}
		}
	}
	.people-wrapper {
		.people-all {
			background: @gray-dark;
			color: white;
			padding-bottom: 31.33333333333333%;

			.people-all-container {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				padding: 5% 10% 0 10%;
				h1 {
					font-size: 2.5em;
				}
				p {
					margin-bottom: 2em;
					float: none;
				}
				.people-view-all {
					float: none;
					padding: 0.5em 2em;
				}
			}
		}
	}
}

.category-content-wrapper {
	article {
		//min-height: 320px;
		&:nth-of-type(3n+1) {
			clear: left;
		}
		h2, .byline {
			padding-left: 0;
		}
	}
}

.runway_latest{
  article{
    &:nth-of-type(3n+1) {
      clear:none;
    }
  }
}
.schedule {
	.schedule-listings {
		max-height: 525px;
		overflow: auto;
	}
}

.alpha-letter {
	text-align: right;
	border-right: none;
}
.category-content-wrapper.alpha-category-content-wrapper article {
	&:nth-of-type(3n+1) {
		clear: left;
	}
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	//margin-top: -51px;
	display:block;
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding-bottom: 1.5em;
		margin-bottom: 1.5em;
		border-bottom: 1px solid #BDBEC2;
		.clearfix();
		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}
	.widget:last-child {
		border-bottom: none;
	}

/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer_message-mobile{
		display:none;
	}
.footer{
	nav{
		font-size:0.7em;
		moz-column-count: 4;
   	-moz-column-gap: 5.890102%;
    	-webkit-column-count: 4;
    	-webkit-column-gap: 5.890102%;
    	column-count: 4;
    	column-gap: 5.890102%;
    	height:87px;
    	width:100%;
	}
	
	#inner-footer {
		#inner_footer_row {
			padding-bottom: 30px;
			#issue_frontcover{
				img{
					width:100%;
				}
			}
			#magazine_desc_top{
				display:none;
			}
			#magazine_desc{
				display:block !important;
				h3{
					text-transform: uppercase;
					font-size: 1.5em;
					margin:0;
				}
				h4{
					text-transform: uppercase;
					font-size: 1.2em;
					margin:0;
				}
			}
			.empty{
				display:none;
			}
			#inner_footer_wrapper{
				#magazine_title{
					#past_issues{
						margin-top:0;
					}
				}
				#social_interaction{
					#integration_wrapper{
						text-align:left;
					}
					#social_wrapper{
						text-align:right;	
						margin-top:0;
						padding: 0 10px;
						p {
							display: block;
							background-color: @gray-dark;
							font-family: @sans-content;
							font-size: 0.6em;
							margin: 0em 0 0 0;
							padding: 0;
						}
					}
				}
			}
		}
	}
}

.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */
