/******************************************************************
Site Name:
Author: egg for Harper's Bazaar

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

------------ MAP ------------

01. GENERAL STYLES
02. WORDPRESS BODY CLASSES
03. LAYOUT & GRID STYLES
04. LINK STYLES
05. H1, H2, H3, H4, H5 STYLES
06. HEADER STYLES
07. NAVIGATION STYLES
08. POSTS & CONTENT STYLES
09. PAGE NAVI STYLES
10. COMMENT STYLES
11. COMMENT FORM STYLES
12. SIDEBARS & ASIDES
13. FOOTER STYLES

******************************************************************/




/*********************
01. GENERAL STYLES
*********************/

html, body {
	/* height: 100%; */
}
body {
	font-family: @sans-content;
	-webkit-font-smoothing: antialiased;
	font-size: 100%;
	line-height: 1.5;
	color: @gray-dark;
}

p{
	-webkit-hyphens:none !important;
}

@font-face {
    font-family: 'didot_new';
    src: url('../fonts/SFU HTF Didot L11 Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bodoni';
    src: url('../fonts/tt0035m_.ttf');
    font-weight: normal;
    font-style: normal;
}

.barred-heading,
.homepage-promo #homepage-promo-carousel .triangle,
.homepage-promo #homepage-promo-carousel h2,
#magazine_desc h3,
#magazine_desc h4,
#article-comments h3,
#integration_wrapper h3,
.featured-primary h2,
.people-all h1,
.newsletter-form h1,
.article-header h1,
.standfirst,
.article-primary .post-categories,
.related-featured-info, .related-featured-info h1,
.article-interactivity a,
.trend-direction,
.shows-cat,
.more h2,
.alpha-letter,
.slideshow-counter,
.runway_tag_link h2
{
	font-family: "bodoni", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-weight: normal;
}

.top-three-number{
	font-family: "bodoni", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-weight: lighter;
	
}

.character-test {
	font-family: "bodoni", "Arial";
	font-size: 3em;
}

a, a:active, a:focus, a:hover, a:visited{
	outline: 0 !important;
}

/********************
02. WORDPRESS BODY CLASSES
    style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
03. LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}
#container {}

/*********************
04. LINK STYLES
*********************/

a, a:visited {
	color: @link-color;

	/* on hover */
	&:hover, &:focus {
		color: @link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

.social-icon {
	text-indent: 9999px;
	background: transparent url("../images/sprite.png") no-repeat;
	display: inline-block;
	width: 20px;
	height: 1.75em;
	overflow: hidden;
}
.social-icon-facebook {
	background-position: -115px -36px;
}
.social-icon-gplus {
	background-position: -200px -35px;
}
.social-icon-zing {
	background-position: -160px -35px;
}
.social-icon-pinterest {
	background-position: -120px -156px;
}
.social-icon-instagram {
	background-position: -160px -156px;
}
.social-icon-youtube {
	background-position: -200px -157px;
}

.social-icon-facebook-dark {
	background-position: -115px -75px;
}
.social-icon-gplus-dark {
	background-position: -200px -73px;
}
.social-icon-zing-dark {
	background-position: -160px -75px;
}

/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	// font-family: @serif-heading;
	// text-transform: uppercase;
	// text-rendering: optimizelegibility;
	// font-weight: 400;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
06. HEADER STYLES
*********************/

.pre-header {
	padding: 0.75% 0 0.75% 0;
	//margin:0 auto;
	//width:100%;
	text-align: center;
	.inner-pre-header{
		margin:0 auto;
		// width:728px;
		text-align: center;
	}	
}

.header {
	background-color: @gray-dark;
	color: @gray-lighter;

	#inner-header {
		padding-top: 0.5em;
	}

	.header-upper {
		float: right;
		display: none;
		font-size: 0.9375em;
		line-height: 1.75em;
	}
	.header-welcome {
		float: left;
		margin: 0 1em 0 0;
	}
	.header-social {
		float: left;
		margin: 0 0.5em 0 0;
		a {
			margin: 0 0.5em 0 0;
		}
	}

	#logo {
		float: left;
		clear: both;
		margin: 0.25em 0 0 0;
	}

	nav {
		margin: 0em 0 0 0;
		.navbar-brand {
			padding: 0.5em 10px 0.9375em 0;
			img {
				width: 160px;
			}
		}
		.navbar-toggle {
			margin-top: 0.55em;
			background: url("../images/sprite.png") no-repeat;
			background-position: -72px -74px;
			width: 44px;
			height: 40px;
			.icon-bar {
				background-color: #cccccc;
			}
			.icon-bar {
				display: none;
				width: 22px;
				height: 4px;
				border-radius: 4px;
			}
		}
		.navbar-toggle.collapsed {
			background: none;
			.icon-bar {
				display: block;
			}
		}
		.navbar-collapse {
			max-height: none !important;
			background: white;
			margin: 0 -10px;
			.mobile_search{
				form{
					.clearfix();
					.make-xs-column(24);
					float: none;
					margin: 20px auto;
					.search-text, #searchsubmit {
						float: left;
					}
					.search-text{
						background-color: transparent;
						border: 1px solid #333;
						color: #333;
						padding-left: 6px;
						font-family: @sans-content;	
						.placeholder(@gray-lighter);
						height: 33px;
						border-radius: 1px 0 0 1px;
						font-size: 0.875em;
						padding:3px;
						width:90%;
					}
					#searchsubmit{
						background: @gray url("../images/sprite.png") no-repeat;
						background-position: -470px 7px;
						width: 37px;
						height: 33px;
						border: 1px solid @gray;
						border-left: none;
						margin-left: -3px;
						border-radius: 0 1px 1px 0;
					}
				}
			}
			ul.nav {
				margin: 0 -10px;
				>li {
					padding: 0.9375em 0;
					background: white;
					border-bottom: 1px solid @gray-lighter;

					>a {
						color: @gray-dark;
						font-weight: bold;
						text-transform: uppercase;
						padding: 0 1.5em;
						line-height: 1em;
						background: transparent;
						.nav-desc {
							display: block;
							color: @gray-light;
							font-size: 0.875em;
							margin-top: 0.25em;
							text-transform: none;
							font-weight: normal
						}
					}
					ul {
						li {
							background-color: white;
							a {
								color: black;
								text-transform:none;
								border:0;
								&:hover {
									text-decoration: underline;
								}
							}
						}
					}
					
					&:first-child {}

					&:last-child a {
						border: none;
					}
				}
				.dropdown-menu {
					padding: 0 0 1em 0;
					.container {
						margin-top: 2em;
					}
					.closemenu {
						width: 37px;
						height: 37px;
						background: url("../images/sprite.png") no-repeat 0 0;
						text-indent: -9999px;
						cursor: pointer;
						float: right;
					}
					li:hover {
						background: white;
						
					}
					li a {
						font-weight: bold;
						background-color: white;
						&:hover {
							color: @gray-light;
							text-decoration: none;
						}
					}
					.social-icon {
						margin-left: 0.5em;
					}
				}
				.share{
					background-color: white;
					a{
						float:left;
						background-color: white;
						padding: 3px;
					}
				}
			}
		}
	}
}

/*********************
07. NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	border-bottom: 0;
	background: none;
	.article_preview_wrapper{
		display:none;
	}
	.closemenu{
		display:none;
	}
	.share{
		display:none;
	}
	li {

		a {
			display: block;
			text-decoration: none;
			padding: 10px 10px;
			background-color: @gray-dark;
		}

		&:first-child {	
		}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */


/*********************
08. POSTS & CONTENT STYLES
*********************/

#content {
	margin-top: 0em;
	padding-bottom: 2em;
	#inner-content {}
}

.barred-heading {
	text-align: center;
	position: relative;
	text-transform: uppercase;
	clear: both;
	&:before {
			display: block;
			width: 100%;
			height: 1px;
			border-top: 1px solid #777;
			content: " ";
			position: absolute;
			top: 50%;
			z-index: 1;
		}
	span {
		background: white;
		z-index: 2;
		padding: 0 0.5em;
		position: relative;
	}
}
.barred-heading-sub {
	color: #58595B;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.9375em;
	margin: 0 0 1.25em 0;
}

.top-three {
	background: @gray;
	color: white;
	padding: 0 0 1em 0;
	display:none;

	.barred-heading {
		font-size: 1.125em;
		.make-xs-column(24);
		padding: 0;

		&:before {
			border-color: @gray-lighter;
		}
		span {
			background: @gray;
		}
	}

	article {
		.make-xs-column(24);
		.make-sm-column(8);
		position: relative;
		color: @gray-lighter;

		.thumb-wrap {
			//.make-xs-column(4);
			float: left;
			.make-sm-column(24);
			.make-md-column(10);

			.top-three-thumb {
				position: relative;
				width: 90px;
				height: 90px;

				&:before {
					position: absolute;
					content: "";
					width: 20px;
					height: 90px;
					background: transparent url("../images/sprite.png") no-repeat;
					background-position: -71px -154px;
					right: 0;
					display: block;
					z-index: 100;
				}
				
				a {
					position: relative;
					img {
						width: 100%;
						height: auto;
					}
				}
			}
		}
		.top-three-number {
			.make-md-column(4);
			font-weight: bold;
			font-size: 6em;
			line-height: 0.5em;
			font-style: italic;
			float: left;
			margin: 0;
			color: white;
			z-index: 150;
			text-indent: -10px;
		}
		figcaption {
			.make-md-column(10);
			top: 0.1em;
			z-index: 200;
			a {
				display: block;
				font-size: 0.95em;
				color: #cbcbcb;
				text-transform: uppercase;
				&:hover {
					color: #cbcbcb;
				}
			}
			.date {
				/*margin-left: 75px;*/
				font-size: 0.75em;
			}
		}
	}
}


.homepage-promo {
	background: @gray-dark;
	padding: 0.75em 0;
	#homepage-promo-carousel {
		.make-xs-column(24);
		.make-md-column(16);
		margin-bottom: 1em;
		
		.triangle {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 120px 120px 0 0;
			border-color: #d01f26 transparent transparent transparent;
			position: absolute;
			top: 0;
			display: block;
			color: #fff;
			z-index: 1;
			p {
				position: relative;
				top: -105px;
				left: 10px;
				font-size: 1em;
				font-size: 1.375em;
				font-weight: bold;
			}
		}
		.carousel-inner{
			a{
				img{
					max-width:none !important;
					width:100% !important;
				}
			}
		}
		.carousel-control {
			width: 42px;
			height: 60px;
			background: black url("../images/sprite.png") no-repeat;
			text-indent: -9999px;
			position: absolute;
			top: 50%;
			margin-top: -30px;
			opacity: 0.75;
		}
		.carousel-control.left {
			left: 10px;
			background-position: -268px 7px;
		}
		.carousel-control.right {
			right: 10px;
			background-position: -306px 7px;
		}
		.carousel-caption {
			background: white;
			border-top: 1px solid #363636;
			opacity: 0.8;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 2% 4%;
			text-shadow: none;
			color: black;
			font-size: 0.9375em;
		}

		h2 {
			font-size: 1.625em;
			margin: 0 0 0.5em 0;
			line-height: 1.125em;
			text-transform: uppercase;
		}
		p {
			margin-bottom: 2em;
			display: none;
		}
		.carousel-indicators {
			bottom: 3px;
			margin-bottom: 0;
			li {
				border-color: black;
			}
			.active {
				background: black;
			}
		}
	}

	.homepage-promo-ads {
		.make-xs-column(24);
		.make-md-column(8);
		div {
			.make-xs-column(12);
			.make-md-column(24);
			text-align: center;
		}
		img {
			max-width: 100%;
		}
	}
	
}

.moremore {
	background-color: #f4f4f4;
	.clearfix();
	.more-heading{
		.make-xs-column(24);
		font-size: 1.25em;
		padding: 0;
		font-family: "bodoni", "Hoefler Text", Garamond, "Times New Roman", serif;
		font-weight: normal;
		text-align: center;
		text-transform: uppercase;
		margin-top: 43px;
		color: #4e4c4d;
	}
	.more_tags{
		.make-sm-column(18);
		.make-sm-column-push(3);
		.make-sm-column-pull(3);
		.make-xs-column(24);
		.make-row();
		margin-bottom:39px;
		margin-left: auto;
		margin-right:auto;
		li{
			.make-sm-column(6);
			margin-top: 26px;
			a{
				width: 100%;
				height:100%;
				display:block;
				background-color: #d0d1d3;
				text-align:center;
				text-transform: uppercase;
				color: #5a5a5c;
				height:36px;
				border: 1px solid #d1d2d4;
				line-height:36px;
				vertical-align:middle;
				font-size: 14px;
			}
		}
	}

}

.latest-articles {
	.container {
		padding-bottom: 2em;
		border-bottom: 1px solid @gray-light;
		margin-bottom: 2em;
	}
	.barred-heading {
		.make-xs-column(24);
		font-size: 1.25em;
		padding: 0;
	}
	article {
		.make-xs-column(24);
		.make-sm-column(8);
		.make-md-column(6);
		//margin-bottom: 1em;
		margin: 0 -10px 1em -10px;

		>a {
			.make-xs-column(12);
			.make-sm-column(24);
			img {
				width: 100%;
				height: auto;
			}
		}
		.article-header {
			.make-xs-column(12);
			.make-sm-column(24);
		}
		
	}
	h2 {
		margin-top: 0;
		font-size: 0.9375em;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-transform: none;
		a {
			color: @gray-dark;
		}
		
	}
	.byline {
		color: #7b7b7b;
		font-size: 0.9375em;
		a {
			color: #7b7b7b;
		}
	}
}


.featured {
	padding: 0 0 3em 0;
	.featured-primary {
		margin: 0 10px;
		figure {
			.make-row();
			overflow: hidden;

			.featured-primary-imgwrap {
				.make-xs-column(24);
				.make-sm-column(12);
				a{
					img {
						width: 100%;
						height: auto;
					}
				}
				.pinterest {
					position: absolute;
					top: 0;
					left: 100%;
					text-indent: -9999px;
					background: url("../images/pinterest-hover.png") no-repeat center right;
					width: 30px;
					height: 30px;
				}
			}

			figcaption {
				.make-xs-column(24);
				.make-sm-column(12);

				text-align: center;
				margin-bottom: 0;
				margin-top: 0;
				text-align: center;
				color: @gray-light;

				h2 {
					font-size: 1.75em;
					margin: 0;
					padding: 1em 0 0 0;
					text-transform: uppercase;

					&:after {
						border-top: 1px solid @gray-light;
						border-bottom: 0;
						width: 70%;
						height: 1px;
						display: block;
						content: "";
						margin: 0.5em auto 0 auto;
						//padding: 0.5em 0 0 0;
					}
				}
				a {
					color: @gray-lighter;
					&:hover {
						color: @gray-lighter;
					}
				}
				p {
					padding: 1em 0 1.5em 0;
				}
				h2, a, p {
					background: @gray-dark;
				}
			}
		}
	}
	
	.people-wrapper {
		position: relative;
		margin-bottom: 3em;
		.make-row();

		@media (max-width: 767px) {
			.item { 
				display: block;
				padding-bottom: 1em;
			}
			.carousel-control {
				display: none;
			}
		}

		.people-all {
			position: relative;
			.make-xs-column(24);
			.make-sm-column(8);
			border: 10px solid white;
			border-top: 0;
			border-bottom: 0;

			.people-all-container {
				text-align: center;
				padding: 0 0 0.5em 0;
				overflow: hidden;
				h1 {
					font-size: 3.125em;
					text-align: left;
					line-height: 1em;
					font-weight: bold;
					border-bottom: 1px solid @gray-light;
					padding-bottom: 0.2em;
					text-transform: uppercase;
					span {
						display: block;
						font-size: 0.5em;
						line-height: 0.5em;
						text-transform: none;
					}
				}
				p {
					color: #C3C3C3;
					font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
					font-size: 0.9375em;
					float: left;
				}
				.people-view-all {
					background: black;
					padding: 0em 1em;
					font-size: 0.875em;
					text-transform: uppercase;
					color: @gray-light;
					float: right;
				}
			}
		}
		#people-carousel {
			.make-sm-column(16);

			.carousel-inner {
				.make-sm-column(24);
				//padding-right: 0;
				.item {
					.make-row();
					figure {
						position: relative;
						.make-sm-column(12);
						margin-bottom: 1em;

						img {
							width: 100%;
							height: auto;
						}
						figcaption {
							font-size: 1.125em;
							position: absolute;
							bottom: 0;
							left: 10px;
							right: 10px;
							background-color: rgba(0,0,0, 0.8);
							color: @gray-lighter;
							padding: 1em 1em;
							text-align: left;
							font-weight: bold;
							transition: padding-bottom 0.25s ease;
						}
					}
					figure:hover figcaption {
						padding-bottom: 2.5em;
						transition: padding-bottom 0.25s ease;
					}
				}
			}
			
			
		}
		.carousel-control {
			width: 38px;
			height: 60px;
			background: white url("../images/sprite.png") no-repeat;
			text-indent: -9999px;
			position: absolute;
			top: 50%;
			margin-top: -30px;
			opacity: 0.75;
		}
		.carousel-control.left {
			left: -40px;
			background-position: -350px 7px;
		}
		.carousel-control.right {
			right: -40px;
			background-position: -388px 7px;
		}
	}
}

.newsletter-form {
	padding-top: 1em; 
	padding-bottom: 1em;

	h1 {
		font-size: 1.5em;
		text-transform: uppercase;
	}
	p {

		color: #7F7F7F;
	}
	form {
		.make-xs-column(24);

		.ginput_container input {
			.make-xs-column(21);
			border: 1px solid @gray-lighter;
			border-right: none;
			background: white;
			height: 36px;
			font-family: @sans-content;
		}
		.gform_button {
			.make-xs-column(3);
			text-indent: -9999px;
			background: #3B3B3B url("../images/sprite.png") no-repeat;
			background-position: -425px 6px;
			border: 1px solid @gray-lighter;
			border-radius: 0;
			height: 36px;
		}
		
		.search-field{
		  .make-xs-column(21);
      border: 1px solid @gray-lighter;
      border-right: none;
      background: white;
      height: 36px;
      font-family: @sans-content;
		}
		
		.search-submit{
		  .make-xs-column(3);
      text-indent: -9999px;
      background: #3B3B3B url("../images/sprite.png") no-repeat;
      background-position: -425px 6px;
      border: 1px solid @gray-lighter;
      border-radius: 0;
      height: 36px;
		}
		
	}
}

.newsletter-form-container{
  border: 1px solid @gray-lighter;
  border-left: none;
  border-right: none;
  text-align: center;
  border-top: 1px solid @gray-lighter;
  margin-top: 20px;
  padding-top: 5px;
  form {
    .make-sm-column(12);
    .make-sm-column-push(6);
  }
}

.newsletter-form-home {
	border: 1px solid @gray-lighter;
	border-left: none;
	border-right: none;
	text-align: center;

	form {
		.make-sm-column(8);
		.make-sm-column-push(8);
	}
}

.widget{
	.newsletter-form {
		form{
			.make-xs-column(24);
			.make-sm-column-push(0);
		}
	}

}

.bazaar-tv-intro {
	background: black;
	padding: 1em 0;

	h1 {
		margin: 0 0 1em 0;
		font-size: 1em;
		img {
			max-width: 100%;
		}
	}

	#bazaar-tv-carousel {
		@media (max-width: 767px) {
			.item { 
				display: block;
				padding-bottom: 1em;
			}
			.carousel-control {
				display: none;
			}
		}

		.make-row();

		.carousel-inner item {
			.make-sm-column(24);
		}

		figure {
			position: relative;
			.make-sm-column(8);

			img {
				width: 100%;
				height: auto;
			}
			figcaption {
				position: absolute;
				bottom: 0;
				left: 10px;
				right: 10px;
				background-color: rgba(0,0,0, 0.8);
				color: white;
				padding: 0.5em 10px;
				text-transform: uppercase;
			}
		}
		/*figure*/.bazaar-tv-carousel-last {
			margin-right: 0;
		}
		.carousel-control {
			width: 38px;
			height: 60px;
			background: rgba(0, 0, 0, 0.95) url("../images/sprite.png") no-repeat;
			text-indent: -9999px;
			position: absolute;
			top: 50%;
			margin-top: -30px;
			opacity: 0.75;
		}
		.carousel-control.left {
			/*left: 10px;*/
			background-position: -268px 7px;
		}
		.carousel-control.right {
			/*right: 10px;*/
			background-position: -306px 7px;
		}
	}
}

.clear_head{
	clear:both;
}

#content {
	.article-pre {
		.make-row();
	}
	.breadcrumbs {
		.make-xs-column(24);
		padding-top: 1em;
		padding-bottom: 1em;
		color: #767575;
		font-size: 0.875em;
		a {
			color: #767575;
		}
		span {
			float: left;
		}
		.breadcrumb-sep {
			text-indent: -9999px;
			background: url("../images/sprite.png") no-repeat;
			background-position: 19px -38px;
			width: 3em;
		}
	}
	
	
	.page-wrapper {
		.make-row();

		.article-wrapper {
			.make-xs-column(24);
			.make-md-column(15);

			.article-primary {
				.post-categories {
					color: #666464;
					font-style: italic;
					font-size: 1.25em;
					font-weight: bold;
					color: #666464;
					margin-bottom: 0;
					text-transform: uppercase;
					a {
						color: #666464;
					}
				}
				.article-header h1 {
					font-size: 2.1875em;
					color: @gray-dark;
					font-weight: bold;
					margin-top: 0;
					line-height: 1.125em;
					text-transform: uppercase;
				}
				
				.standfirst {
				color: #5E5E5E;
				font-style: italic;
				font-size: 1.125em;
				font-weight: bold;
				line-height: 1.325em;
				margin: 1.25em 0;
				}
				.byline { 
					border: 1px solid #BEBEBE;
					border-left: none;
					border-right: none;
					padding: 0.25em 0;
					margin-bottom: 1em;
					color: #656565;
					
					.authorship {
						.make-xs-column(18);
						padding-left: 0;
						line-height: 1.75em;
						.author a {
							color: #656565;
							font-weight: bold;
						}
					}
					.share{
						.make-xs-column(6);
						line-height: 1.75em;
						padding-right: 0;
						text-align: right;
						span {
							float: left;
							text-align: right;
						}
						.social-icon {
							float: right;
							margin: 0 0 0 0.5em;
						}
					}
				}
				p {
					margin: 0 0 1.25em 0;
					color: #000;
					line-height: 1.625em;
				}


				.article-slideshow {
					.make-row();
					position: relative;
					padding-top: 1em;
					margin-bottom: 2em;

					.carousel-inner {
						.make-xs-column(22);
						.make-sm-column-push(1);
						padding: 0;
					}
					.item {
						overflow: hidden;
						.slideshow-image {
							img {
								margin-bottom: 0;
								width: 100%;
								cursor: pointer;
							}
							.slideshow-image-actions {
								border: 1px solid #C9C9C9;
								//border-top: none;
								overflow: hidden;
								a {
									float: left;
									border-right: 1px solid @gray-light;
									padding: 0 0.5em;
									line-height: 1.5em;
									width: 32px;
									height: 30px;
									background: white url("../images/sprite.png") no-repeat;
									text-indent: -9999px;
									cursor: pointer;
								}
								.action-pinterest {
									background-position: -44px -5px;
									&:hover {
										background-position: -44px -46px;
									}
								}
								.action-expand {
									background-position: -83px -5px;
									&:hover {
										background-position: -83px -45px;
									}
								}
								.slideshow-counter {
									float: right;
									margin: 0 10px 0 0;
									font-style: italic;
									font-weight: bold;
									line-height: 1.75em;
									color: #656565;
								}
							}
						}
						
					}
					.portrait {
						.slideshow-image {
							.make-sm-column(14);
              .make-xs-column(24);
							padding-left: 32px;
							padding-right: 0px;
						}
						.carousel-caption {
							.make-sm-column(10);
              .make-xs-column(24);
							padding-left: 32px;
							padding-right: 5px;
							
						}
					}
					.landscape {
						.slideshow-image {
							.make-xs-column(24);
							padding-left: 32px;
							padding-right: 5px;
							margin-bottom: 1em;
						}
						.carousel-caption {
							.make-xs-column(24);
							position: static;
							padding: 0 32px;
							h2 {
								margin: 1em 0 0 0;
							}
						}
					}
					.carousel-caption {
						left: 0;
						right: 0;
						padding-bottom: 1em;
						text-shadow: none;
						text-align: left;
						font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

						h2 {
							color: black;
							font-size: 1em;
							font-weight: bold;
							font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
							margin: 0 0 1em 0;
						}
					}
					.carousel-control {
						width: 32px;
						height: 60px;
						background: rgba(0, 0, 0, 0.95) url("../images/sprite.png") no-repeat;
						text-indent: -9999px;
						position: absolute;
						top: 50%;
						margin-top: -30px;
						opacity: 0.75;
						background-position: -4px 0;
						z-index: 1000;
					}
					.carousel-control.left {
						/*left: 10px;*/
						background-position: -272px 7px;
					}
					.carousel-control.right {
						/*right: 10px;*/
						background-position: -310px 7px;
					}
				}
				.article-slideshow-gallery {
					.make-sm-column(17);
					.make-xs-column(24);
					padding-top: 1.5em;

					.carousel-inner {
					}
					.slideshow-image {
						.make-xs-column(24);
						padding: 0;
					}

					.carousel-control.left {
						/*left: 11px;*/
					}
					.carousel-control.right {
						/*right: 11px;*/
					}
				}
				
				.brand-page-gallery {
					.make-xs-column(24);
					left:0;
					.make-row();
					.carousel-inner {
						.make-xs-column(24);
						float:none;
						left:0;
						padding:0;
					}	
					.slideshow-gallery-text{
						.make-xs-column(24);
						float:none;
						padding:20px;
						left:0;
					}
				}
				
				.slideshow-gallery-text {
					.make-xs-column(24);
					.make-sm-column-push(1);
					.make-sm-column(6);
					padding-top: 1.5em;
					padding-left: 0;
				}
				.gallery-indicators {
					.make-row();
					padding: 1em 0;
					clear: both; 
					background: #3A3532;

					.carousel-inner {
						.make-xs-column(22);
						.make-sm-column-push(1);
						padding: 0;

						.item {
							padding: 0 10px;
							.gallery-indicator-link {
								.make-xs-column(6);
								text-indent: 0;
								height: auto;
								display: block;
								border: none;
								margin: 0;
								padding-left: 0;
								padding-right: 0;
								cursor: pointer;
								img {
									margin: 0;
								}
							}
						}
					}
					.carousel-control {
						width: 32px;
						height: 60px;
						background: transparent url("../images/sprite.png") no-repeat;
						text-indent: -9999px;
						position: absolute;
						top: 50%;
						margin-top: -30px;
						opacity: 0.75;
						background-position: -4px 0;
					}
					.carousel-control.left {
						left: 0px;
						background-position: -272px -270px;
					}
					.carousel-control.right {
						right: 0px;
						background-position: -312px -270px;
					}
					
				}

				.article-interactivity{
					margin-top: 2em;
					margin-bottom: 1em;
					.make-row;
					a {
						display: block;
						color: white;
						padding: 11px 0.5em 11px 30%;
						font-size: 0.9375em;
						line-height: 1em;
						background-image: url('../images/social/icons-social-white.png');
						background-repeat: no-repeat;
						text-transform: uppercase;
						font-style: italic;
						font-weight: bold;
					}
					.article-interactivity-wrapper {
						.make-xs-column(24);
						padding-right: 4px;
						
						.share-wrapper {
							.make-row();
							
							.share-facebook {
								.make-xs-column(8);
								padding-right: 3px;
								a {
									background-color: #4E6AB5;
									background-position: 5% 3px;
								}
							}
							.share-comment {
								.make-xs-column(8);
								padding-right: 10px;
								padding-left:3px;
								a {
									background-color: #333333;
									background-position: 5% -93px;
								}
							}
							.share-gplus {
								.make-xs-column(8);
								padding-left: 3px;
								padding-right: 3px;
								a {
									background-color: #D83A2E;
									background-position: 5% -60px;
								}
							}
							
							/*.share-zing {
								.make-xs-column(8);
								padding-left: 3px;
								padding-right: 3px;
								a {
									background-color: #54A9D6;
									background-position: 5% -30px;
								}
							}*/
						}
					}
					/*.comments-icon {
						.make-xs-column(3);
						padding-left: 3px;
						a {
							background-color: #333333;
							background-position: center -93px;
							text-indent: -9999px;
						}
					}*/
				}
			}

			.article-trend {
				.standfirst-trend {
					line-height: 1.3em;
					color: #58595B;
				}
			}
			
			
			.inline-sharing {
				.make-row();
				display: inline-block;
				width: 25%;
				float: left;
				padding-bottom: 30px;
				margin-right: 20px;
				margin-left: 4px;
				h4 {
					font-family: @sans-content;
					font-weight: bo ld;
					font-size: 0.9em;
					border-top: 1px solid @gray-light;
					border-bottom: 1px solid @gray-light;
					padding: 8px 0;
					text-align: center;
					display: block;
					.make-xs-column(24);
					margin-bottom: 30px;
				}
				.inline-icon-wrap {
					.make-xs-column(8);
					text-align: center;
				}
			}
			
			.yarpp-related{
				border-top: 1px solid @gray-light;
				border-bottom: 1px solid @gray-light;
				margin: 20px 0;
				clear: both;
				text-align: left;
				.related-posts{
					margin: 20px 10px;
					h4{
						font-family:@sans-content;
						font-weight:bold;
						font-size: 0.9em;
					}
					ol{
						list-style: disc;
						margin-left: 20px;
						li{
							margin-top:6px;
							a{
								color: @gray-light;
								font-size: 0.9em;
							}
						}
					}
				}
			}
			
			footer{
				margin-top: 51px;
				h3{
					text-align:center;
					font-style: italic;
				}
				.tags{
					text-transform:uppercase;
					font-family: @serif-heading-bold;
					.make-row();
					li{
						.make-xs-column(12);
						text-align:center;
						margin-top:15px;
						a{
							color: white;
							background-color: @gray-dark;
							display:block;
							width:99%;
							font-size:0.9em;
							height: 30px;
							line-height:30px;
						}
					}
				}
			}
			
			#article-comments {
				h3{
					text-align: center;
					margin-top: 51px;
					text-transform: uppercase;
				}
			}

			.related-featured {
				.make-row();
				border: 1px solid @gray-light;
				border-left: 0;
				border-right: 0;
				a {
					//.make-xs-column(24);
					img {
						.make-xs-column(10);
						padding: 0;
						height:auto;
					}
					.related-featured-info {
						.make-xs-column(13);
						.make-sm-column-push(1);
						.category {
							color: #666464;
							font-style: italic;
							font-size: 1.25em;
							font-weight: bold;
							color: #666464;
							margin: 2em 0 0 0;
							text-transform: uppercase;
							a {
								color: #666464;
							}
						}
						h1 {
							font-size: 2.1875em;
							font-weight: bold;
							letter-spacing: -2px;
							margin-top: 0;
							line-height: 1.125em;
							text-transform: uppercase;
						}
					}
				}
			}		
			
			.recent-posts {
				.make-row();
				h3 {
					.make-xs-column(24);
					margin-top:51px;
					font-style:italic;
				}
				article {
					.make-sm-column(8);
					margin: 0 0 1.25em 0;
					div{
						height:180px;
						overflow:hidden;
						margin: 0 0 0.25em 0;
						img {
							max-width: 100%;
							height: auto;
						}
					}
				}
				article:nth-of-type(3n+1) {
					clear: left;
				}
			}	
		}

		.sidebar {
			.make-sm-column(24);
			.make-md-column(8);
			.make-sm-column-push(1);
			.widgettitle{
				font-family: @serif-heading;
				text-transform: uppercase;
				border-bottom: none;
				text-align:center;
				font-size: 1.4em;
				color: @gray-dark;
			}
			.textwidget{
				table{
					tr{
						td{
							&:first-child{
								padding-top:5px;
								text-align: right;
								width: 40%;
								padding-right: 10px;
							}
						}
					}
				}
			}
		}

	}
	.brand-wrapper{
		.make-xs-column(24) !important;
	}
}

.feed_brands{
	.make-xs-column(24);
	.make-row();
	
	.feed_wrapper{		
		.make-xs-column(24);
		.make-md-column(15);
	}
	
  .similar{
    .make-md-column(24);
  }
	
	.sidebar{
		.make-sm-column(24);
		.make-md-column(8);
		.make-sm-column-push(1);
	}
}

/* Most read widget plugin */

#most_read{
	li{
		.make-row();
		padding-top:27px;
		margin:27px 0 0 0;
		border-top: 1px solid #BDBEB2;
		.clearfix();
		
		&:first-child{
			margin-top:0;
		}
		
		
		a{
			.make-xs-column(10);
			padding-left: 0;
			img{
				width:100%;
				height:auto;
			}
		}
		span{
			.make-xs-column(14);
			a{	
			padding-left:0;
				.make-xs-column(24);
			}
			span{
				.make-xs-column(24);
				color: #7b7b7b;
				a{
					display: inline;
					width: Auto;
					float: none;
					color: #7b7b7b;
					margin-left:-8px;
				}
			}
		}
	}
}


.trends-latest {
	.make-row();
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 1em;
	.trend {
		.make-xs-column(6);
		padding: 0;
		background: black;
		
		a {
			color: white;
			text-align: center;
			figure {
				img {
					max-width: 100%;
					height: auto;
				}
				figcaption {
					position: absolute;
					height: 2.25em;
					width: 80%;
					margin: auto;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					line-height: 1.3em;
					display: none;
				}
			}
		}
		a:hover img {
			opacity: 0.5;
		}
		a:hover figcaption {
			display: block;
		}
	}
	.trend-direction {
		.make-xs-column(24);
		color: white;
		font-size: 2.25em;
		text-transform: uppercase;
		line-height: 1.625em;
		background: url("../images/sprite.png") no-repeat;
	}
}
.trends-in .trend-direction {
	background-color: #1A1A1A;
	background-position: -315px -160px;
	text-indent: 10%;
}
.trends-out .trend-direction {
	background-color: #8F9092;
	background-position: -420px -240px;
	text-indent: 8%;
}
.trends-out {
	margin-bottom: 2.5em;
}
#all_shows{
 display:none; 
}
.shows-latest {
	.make-row();
	border: 1px solid #D4D4D4;
	border-left: none;
	background: #F4F4F4;
	position: relative;
	margin: 0 0 2.5em 0;

	.shows-featured {
		.make-xs-column(11);
		padding: 0;
		img {
			max-width: 100%;
		}
	}
	.shows-cat {
		.make-xs-column(6);
		padding: 0;
		background: #F4F4F4;
		text-transform: uppercase;
		font-size: 0.875em;
		font-weight: bold;
		text-align: center;
		li {
			padding: 1em 10px;
			border-bottom: 1px solid #FCFCFC;
			&:last-child {
				border-bottom: none;
			}
		}
		a {
			color: #8B8F92;
		}
		
	}
	
	.list_active{
	  &:before {
      position: absolute;
      display: block;
      top: 10px;
      left: 0;
      width: 9px;
      height: 29px;
      background: white url("../images/sprite.png") -40px -80px no-repeat;
      content: "";
    }
	}
	
	.shows-latest-list {
		.make-xs-column(7);
		padding-top: 0.5em;
		position: absolute;
		background: white;
		top: 0;
		bottom: 0;
		right: 0;
		overflow: auto;
		
		ul {
			padding: 0 0 0 10px;
			li {
				padding: 0.25em 0;
				line-height: 1.25em;
				a {
					color: #58585A;
					font-size: 0.9375em;
				}
				a.list_active{
				  color: #252424;
				  &:hover{
				    text-underline:none;
				  }
				}
			}
		}
		
	}
}

.brand-featured {
	.make-row();
	margin: 0;
	margin-bottom: 2.5em;
	background: #D1D2D4;

	.brand-featured-logo {
		.make-xs-column(12);
		padding-bottom: 50%;
		a {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			text-align: center;
			span {
				
				&:before {
					content: "";
					display: inline-block;
					height: 100%;
					vertical-align: middle;
				}
				img {
					display: inline-block;
  					vertical-align: middle;
  					width: 100px;
				}
			}
		}
	}
	#brand-featured-carousel {
		.make-xs-column(12);
		padding: 0;

		a {
			figure {
				background: black;
				text-align: center;
				img {
					max-width: 100%;
					height: auto;
					opacity: 0.75;
				}
				figcaption {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					color: white;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 1.75em;
					line-height: 1.125em;
  					span {
  						&:before {
							content: "";
							display: inline-block;
							height: 100%;
							vertical-align: middle;
						}
  						span {
							display: inline-block;
  							vertical-align: middle;
  							padding: 0 30px;
  						}
  					}
				}
			}
		}
		
		.carousel-control {
			width: 22px;
			box-shadow: none;
			background: #101010 url("../images/sprite.png") no-repeat;
			opacity: 1;
			text-indent: -9999px;
		}
		.carousel-control.left {
			background-position: -517px -64%;
		}
		.carousel-control.right {
			background-position: -542px -64%;
		}
	}
}

.nav-alpha {
	.clearfix();
	border: 4px solid #F4F4F4;
	border-left: 0;
	border-right: 0;
	padding: 0.25em 0;
	margin-bottom: 1.5em;
	li {
		font-size: 1.125em;
		float: left;
		color: @gray-light;
		padding: 0 0.3em;
		a {
			color: #333333;
		}
	}
	.nav-alpha-selected, .nav-alpha-selected:hover {
		background: #333333;
		color: white;
	}
}
.alpha-letter {
	.make-xs-column(24);
	.make-sm-column(4);
	background: #F4F4F4;
	text-align: center;
	font-size: 1.625em;
	border-left: 10px solid white;
	border-right: 10px solid white;
	margin-bottom: 0.5em;
	text-transform: uppercase;
}
.alpha-category-articles {
	.make-xs-column(24);
	.make-sm-column(20);
}
.category-content-wrapper.alpha-category-content-wrapper article {
	.make-xs-column(24);
	.make-sm-column(8);
	//min-height: 250px;
	img {
		.make-xs-column(12);
		.make-sm-column(24);
		margin-bottom: 0.5em;
		padding: 0;
	}
}

/*.category-runway {
  .make-xs-column(24);
  .make-md-column(15);
		article {
			.make-sm-column(6);
			.make-md-column(6);
			padding: 0;
			img {
				margin: 0 0 0.5em 0;
			}
			h2 {
				padding: 0 10px;
				font-size: 0.875em;
				a {
					font-weight: normal;
					text-transform: uppercase;
				}
			}
		}
	
}*/

.runway_latest{
  .make-row();
  article{
    .make-xs-column(4); 
    overflow:hidden;
    div{
        background: #f1f1f3;
        width: 100%;
        padding: 15px;
        line-height: 1;
        border: 0;
        border-radius: 0;
        text-transform:uppercase;
        font-weight:lighter;
        font-size: 16px;
        margin-right:-15px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        &:hover > span{
          color: #5a5a5c;font-weight:bold;
        }
     }
     div > ul { display: none;position:absolute; width:82.1%;z-index:3000;margin-left:-15px;padding-left:0px; }
     div > ul li{margin:0;padding-left:0px;}
     div:hover > ul {display: block; background: #f1f1f3;}
     div:hover > ul > li { padding: 15px;}
     div:hover > ul > li:hover > a { color: #5a5a5c;font-weight:bold;text-decoration:none; }
     a{
       clear:both;
       img{
         padding:0;
         margin:0;
         width:auto;
         height:205px;
       }
       .h2{
        color:#000;
        text-transform:uppercase;
        font-weight:lighter;
        margin:0;
        padding: 10px;
        font-size: 18px;
      }
      img{
        margin-bottom:0 !important;
      }
    }
  }
}

.schedule {
	.make-row();
	margin: 0;
	border: 1px solid #D3D3D5;
	border-top: none;

	.schedule-title {
		.make-xs-column(24);
		background: #3D3D3D;
		color: white;
		text-transform: uppercase;
		text-align: center;
		font-size: 1.125em;
		font-weight: bold;
		padding: 0.5em 0;
		margin: 0;
	}
	.schedule-main {
		.make-row();
		clear: both;
		position: relative;
		.bullet:before {
			content: "";
			width:  9px;
			height: 9px;
			border-radius: 100%;
			background: black;
			display: block;
			float: left;
			margin: 0.45em 0.5em 0 0em;
		}
		.bullet-blue:before {
			background: #1F76B4;
		}
		.bullet-orange:before {
			background: #F99039;
		}
		.bullet-green:before {
			background: #009451;
		}
		.bullet-red:before {
			background: #EF0028;
		}
	}
	.schedule-controls {
		.make-xs-column(24);
		.make-sm-column(10);
		padding-right: 0;
		/*position: absolute;*/
		top: 0;
		bottom: 0;

		.schedule-calendar {
		  width:100%;
		  border: 1px solid #D3D3D5;
		  table{
		     width:100%;
  			caption {
  				background: #F1F1F3;
  				text-transform: uppercase;
  				font-size: 1.125em;
  				text-align: center;
  				font-weight: bold;
  				padding: 0.75em 0;
  				margin: 0;
  				position: relative;
  				a{
  				  position:absolute;
  				  text-indent:-10000px;
  				  display:block;
  				  background-color:#fff;
  				  width:40px;
  				  height:40px;
  				}
  				.next{
  				  right: -20px;
top: 16px;
            background: transparent url("../images/sprite.png") no-repeat -63px -313px;
  				}
  				.previous{
            background: transparent url("../images/sprite.png") no-repeat -22px -313px;
  				  left:5px;
  				  top:16px
  				}
  			}
  			thead {
  			  th{
  				 font-weight: bold;
  				 text-align:center;
  			  }
  			}
  			td {
  				text-align: center;
  				color: #575B5C;
  				
  			}
  			#today{
  			  background-color: #3D3D3D;
  			  color: #fff;
  			  a{
  			     color: #fff;
  			  }
  			}
  			.today{
          background-color: #3D3D3D;
          color: #fff;
          a{
             color: #fff;
          }
        }
  			tfoot{
  			  display:none;
  			}
			}
			footer {
				/*position: absolute;*/
				bottom: 0;
				width: 100%;
				padding: 0 10px 0 0;
				ul {
					margin: 0;
				}
				li {
					border-top: 1px solid #D3D2D7;
					text-transform: uppercase;
					padding: 0.4em 0.5em 0.4em 1em;
					color: #6D6D6D;
				}
			}
		}
	}
	.schedule-listings {
		.make-xs-column(24);
		.make-sm-column(14);
		/*.make-sm-column-push(10);*/
		padding-left: 0;
		/*border-left: 1px solid #D3D3D5;*/

		header {
			background: #F1F1F3;
			text-transform: uppercase;
			text-align: center;
			font-size: 0.75em;
			padding: 0.325em 0;
		}
		.schedule-entry {
			.make-row();
			margin-left: 0;
			margin-right: 0;
			border-top: 1px solid #D3D3D5;
			position: relative;

			.schedule-time {
				.make-xs-column(12);
				.make-sm-column(5);
				padding: 0;
				text-align: center;
				position: absolute;
				top: 0;
				bottom: 0;
				&:before {
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
				}
				span {
					display: inline-block;
					vertical-align: middle;
				}
			}
			.schedule-detail {
				.make-xs-column(12);
				.make-sm-column(19);
				.make-sm-column-push(5);
				border-left: 1px solid #D3D3D5;
				padding: 0.75em 10px;

				h3 {
					font-weight: bold;
					text-transform: uppercase;
					font-size: 1em;
					margin: 0 0 0.375em 0;
					line-height: 1.375em;
				}
				p {
					font-size: 0.825em;
					color: #6D6D6D;
				}
			}
		}
		
	}
}

.nav-tabbed {
	.make-row();
	margin-left: 0;
	margin-right: 0;
	border: 1px solid #BEBEC0;
	border-bottom: 0;
	padding: 1em 20px;
	.nav-pills {
		.make-xs-column(24);
		padding-left: 0;
		padding-right: 0;
		li {
			a {
				background: white;
				border-radius: 0;
				padding: 0.5em 1em;
			}
		}
		.active a, li:hover a {
			color: black;
			background: #eee;
		}
	}
}

.tab-content {
	.make-row();
	margin: 0 0 1em 0;
	border: 1px solid #BEBEC0;
	height: auto;
	.tab-pane {
		.make-xs-column(24);
	}
	.brand_page_tab{
		padding: 0 !important;
		float:none;
		.brand-page-gallery{
			padding: 0 !important;
			margin:0 !important;
			height:auto;
			overflow:hidden;
		}
		.slideshow-gallery-text{
			left:0 !important;
			padding:20px !important;
			.make-xs-column(24) !important;
		}
	}
}



.modal-dialog {
	left: 50%;
	right: auto;
	width: 100%;
	padding: 0;
	text-align: center;
	.modal-content {
		box-shadow: none;
		border-radius: 0;
		background: transparent;
		border: none;

		.modal-header {
			border: none;
		}
		.modal-body {
			padding: 2% 0 0 0;
			display: inline-block;
			.close {
				background: #252525;
				color: white;
				opacity: 1;
				text-shadow: none;
				font-weight: normal;
				width: 40px;
				height: 35px;
			}
			img {
				max-height: 90%;
				width: auto;
				margin: 0;
				clear: both;
				float: right;
			}
		}
	}
}
.modal-backdrop.in {
	opacity: 0.75;
	filter: alpha(opacity=75);
}

.category-content-wrapper {
	.make-xs-column(24);
	.make-md-column(15);

	.category-title {
		margin-top: 0;
	}
	article {
		.make-xs-column(24);
		.make-sm-column(8);
		margin-bottom: 1em;

		img {
			.make-xs-column(12);
			.make-sm-column(24);
			padding: 0;
			max-width: 100%;
			height: auto;
			margin-bottom: 1em;
		}
		h2 {
			.make-xs-column(12);
			.make-sm-column(24);
			margin-top: 0;
			font-size: 0.9375em;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			text-transform: none;
			a {
				color: @gray;
			}
		}
		.byline {
			.make-xs-column(12);
			.make-sm-column(24);
			font-size: 0.8125em;
			a {
				color: @gray;
			}
		}
	}
}

.subscribe-actions {
	.make-row();
	clear: both;
	border: 1px solid #3B3C3B;
	border-left: none;
	border-right: none;
	margin: 0 0 3em 0;

	h3 {
		font-size: 1.375em;
		margin: 0.5em 0 0.5em 0;
		font-family: @serif-heading;
	}
	.subscribe-email, .subscribe-mag{
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}

	.subscribe-email {
		.make-xs-column(12);
		padding: 0 30px 0 0;

		form {
			.make-sm-column(24);
		}
	}
	.subscribe-mag {
		.make-xs-column(12);
		border-left: 1px solid #3B3C3B;
		padding: 0 0 0 30px;
		
		.row{
			.mag_wrapper{
				.make-xs-column(12);
				overflow:hidden;
				img{
					width:100%;
					height:auto;
				}
				
			}
			.subscribe-mag-content{
				.make-xs-column(12);
			}
		}
		
		.subscribe-mag-cover {
			padding-top: 0.5em;
			.make-xs-column(12);
		}
		p {
			color: #7F7F7F;
		}
		.button {
			background: @gray;
			border: none;
			text-transform: uppercase;
			border-radius: 0;
			font-size: 0.75em;
			padding: 0.75em 0.75em;
			margin: 0 0 1em 0;
		}
	}
}






.hentry {

	header {}

	footer {}

} /* end .hentry */

.single-title,
.page-title {}

.single-title {}

.page-title {}

.archive-title { }

/* want to style individual post classes? Booya! */
.post-id {}         /* post by id (i.e. post-3) */
.post {}            /* general post style */
.page {}            /* general article on a page style */
.attachment {}      /* general style on an attatchment */
.sticky {}          /* sticky post style */
.hentry {}          /* hentry class */
.category-slug {}   /* style by category (i.e. category-videos) */
.tag-slug {}        /* style by tag (i.e. tag-news) */

/* post meta */
.byline {
	color: #999;

	time {}
}

/* entry content */
.entry-content {
	
	img.wp-post-image{
		margin-top:27px;
	}
	
	p {}


	ul, ol, table, dl {}

	ul, ol {

		li {}

	}

	ul {

		li {}

	}

	ol {

		li {}

	}

	blockquote {

		&:before {}

	}

	dl {}

	dt {}

	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	img {
		margin: 0 0 1.5em 0;
		max-width: 100%;
		height: auto;
	}

	/*
	image alignment on a screen this size may be
	a bit difficult. It's set to start aligning
	and floating images at the next breakpoint,
	but it's up to you. Feel free to change it up.
	*/
	.alignleft, img.alignleft {}
	.alignright, img.alignright {}
	.aligncenter, img.aligncenter {}

	video, object {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
	}

} /* end .entry-content */

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}

} /* end .wp-caption */

/* image gallery styles */
.gallery {

	dl {

		a {}

		img {}

	}

	dt {}

	dd {}

} /* end .gallery */

/* gallery caption styles */
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/******************************************************************
09. PAGE NAVI STYLES
******************************************************************/

.page-navigation,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
	clear: both;
	.make-row();
}
	.bones_page_navi{
		text-align: center;
		
		
		li {
			display: inline-block;
			font-family: 'bodoni';
			font-size: 1.4em;
			width:40px;
			height:40px;
			line-height:40px;
			vertical-align:middle;
			a {
				text-decoration: none;
				position: relative;
				color: #black;

				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}

		}

		/* current page link */
		li.bpn-current {
			color: white;
			background-color: #3F3A3B;
			a {
				text-decoration: none;
				/* hovering on current page link */
				&:hover,
				&:focus {}

			}

		} /* end .bones_page_navi .bpn-current */
		li.bpn-first-page-link{
			font-weight: 700;
			padding: 0;
			margin: 0;
			a{
				padding: 0em 0;
				background: #fff url("../images/sprite.png") no-repeat;
				color: white;
				display: block;
				text-indent: -9999px;
			}
		}
		
		li.bpn-last-page-link{
			font-weight: 700;
			padding: 0;
			margin: 0;
			a{
				padding: 0em 0;
				background: #fff url("../images/sprite.png") no-repeat;
				color: white;
				display: block;
				text-indent: -9999px;
			}
			
		}
		li a, li.bpn-current {
		}

		/* common styles for page-navi links */
		li.bpn-prev-link,
		li.bpn-next-link {
			font-weight: 700;
			padding: 0;
			margin: 0;

			a {
				padding: 0em 0;
				background: #fff url("../images/sprite.png") no-repeat;
				color: white;
				display: block;
				text-indent: -9999px;
			}
		}

		/* remove the bg on end links */
		li.bpn-prev-link a:hover,
		li.bpn-next-link a:hover,
		li.bpn-first-page-link a:hover,
		li.bpn-last-page-link a:hover {
		

		}
		li.bpn-first-page-link{
			a {
				background-position: -341px -377px;
				&:hover,
				&:focus {}
			}
		}
		/* previous link */
		li.bpn-last-page-link{
			a {
				background-position: -387px -377px;
				&:hover,
				&:focus {}
			}
		}
		
		li.bpn-prev-link {
			a {
				background-position: -257px -377px;
				&:hover,
				&:focus {}
			}
		}

		/* next page link */
		li.bpn-next-link {
			a {
				background-position: -299px -377px;
				&:hover,
				&:focus {}
			}
		}

		/* first page link */
		li.bpn-first-page-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* last page link */
		li.bpn-last-page-link {
			a {
				&:hover,
				&:focus {}
			}
		}

	} /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
10. COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments {

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {

	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		} /* end .commentlist li ul.children */
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-right: -10px;
		margin-left: -10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {}
	li.depth-4 {}
	li.depth-5 {}

	/* general comment classes */
	.alt {}
	.odd {
		background: #eee;
	}
	.even {
		background: #fefefe;
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} /* end .commentlist .vcard */


	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {
		margin-left: 50px;

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		text-decoration: none;
		float: right;
		background: #4598bb;
		padding: 3px 5px;
		color: #fff;
		opacity: 0.65;
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 0.9em;

		&:hover,
		&:focus {
			opacity: 1;
		}

	} /* end .commentlist .comment-reply-link */

} /* end .commentlist */

/******************************************************************
11. COMMENT FORM STYLES
******************************************************************/

.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			/* form validation */
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

	/* comment submit button */
	#submit {}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
12. SIDEBARS & ASIDES
*********************/

.sidebar {
	display:none;
}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

/*********************
13. FOOTER STYLES
*********************/

#back_to_top_button{
	width: 70px;
	position:fixed;
	bottom: 5%;
	right: 0;
	z-index:4000000;
	text-align:right;
	padding-right:20px;
	padding-top:3px;
	height:30px;
	background: #999 url("../images/sprite.png") no-repeat -270px -339px;
	display:none;
	a{
		color: #fff;
		width:100%;
		display:block;
		height:100%;
		&:hover{
			text-decoration:none;
		}
	}
}


.more {
	background: #F4F4F4;
	h2 {
		text-align: center;
		text-transform: uppercase;
	}
}

.footer {
	clear: both;
	background-color: @gray-dark;
	color: @gray-light;
	font-family: @sans-content;
	#inner-footer {
		overflow: hidden;
		#inner_footer_row {
			padding-top: 30px;
			.make-row();
			#issue_frontcover {
				.make-sm-column(6);
				.make-xs-column(24);
				text-align: center;
				//margin-bottom: 30px;
				img{
					width: 80%;
				}
			}
			#magazine_desc_top {
				.make-xs-column(20);
				text-align: center;
				h3 {
					text-transform: uppercase;
					font-size: 1.5em;
					margin-top: 0;
					margin-bottom: 20px;
				}
				h4 {
					text-transform: uppercase;
					font-size: 1.2em;
					margin: 0;
				}
			}
			.empty {
				.make-xs-column(2);
			}
			#inner_footer_wrapper {
				.make-xs-column(24);
				.make-sm-column(18);

				#magazine_title {
					.make-row();
					#magazine_desc {
						.make-sm-column(15);
						display: none;
						margin-top: 5px;
						margin-bottom: 0;

						h3 {
							text-transform: uppercase;
							font-size: 1.5em;
							margin:0;
						}
						h4 {
							text-transform: uppercase;
							font-size: 1.2em;
							margin: 0;
						}
					}
					#past_issues {
						.make-xs-column(24);
						.make-sm-column(9);
						max-height: 40px;
						margin-top: 25px;
						text-align: center;

						.footer_button {
							border: 1px solid @gray-light;
							display: block;
							background: #1D1D1D url("../images/button_right.png") no-repeat;
							background-position: 90% 50%;
							width: 100%;
							text-transform: uppercase;
							&:hover{
								background-color: @gray-light; 
							}
							a {
								display: block;
								color: @gray-light;
								line-height: 1em;
								padding: 0.75em 40px 0.75em 10px;
								&:hover{
									text-decoration: none;
									color: @gray-darker;
								}
							}
						}
					}
				}
				#social_interaction {
					.make-row();
					#integration_wrapper {
						.make-xs-column(24);
						.make-sm-column(6);
						.make-md-column(9);
						text-align: center;
						color: #EDEDED;
						margin: 0 0 1.5em 0;
						padding-top: 0.5em;
						text-transform: uppercase;

						h3 {
							margin:0;
						}
						p {
							margin: 0;
							font-family: @serif-heading;
							font-size: 0.8em;
						}
						
					}
					#social_wrapper{
						.make-xs-column(24);
						.make-sm-column(18);
						.make-md-column(15);
						text-align: center;
						padding: 0;
						.social-icon {
							margin: 0 0 0 1.5em;
						}

						p {
							font-family: @sans-content;
							font-size: 0.875em;
							background: #4D4D4D;
							margin: 1em 0 0 0;
							padding: 2em 5%;
							color: @gray-lighter;
						}
					}
					
				}
			}
		}	
	}
	nav {
		border-top: 1px solid #4A4A4A;
		border-bottom: 1px solid #4A4A4A;
		margin: 37px 0;
		padding: 12px 0;
		font-size: 0.6em;
		moz-column-count: 2;
   		-moz-column-gap: 0;
    	-webkit-column-count: 2;
    	-webkit-column-gap: 0;
    	column-count: 2;
    	column-gap: 0;
    	/***** TODO: ADD IE SUPPORT  *****/
    	height:120px;
		ul.nav {
			background-color: transparent;
			border:0;
			li {
				float:none;
				margin-bottom: 0;
				a {
					color: @gray-light;
					text-transform: uppercase;
					background-color: transparent;
					padding:0;
					border:0;
					&:hover{
						text-decoration:underline;
					}
				}

				&:first-child {}

				&:last-child {}
			}
		}
	}
	.footer_message-mobile{
		background-color: @gray;
		padding-top: 20px;
		p{
			width: 70%;
			color: white;
			font-family: @sans-content;
			font-size: 0.8em;
			text-align:center;
		padding-bottom: 20px;
		margin:0 auto;
		}
	}
}

/* UPDATING JW PLayer */
.entry-content object {
	/*height: 100% !important;*/
}


/* YOUTUBE RESPONSIVE */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}
	
/************* Brand Feeds *************/

.runway_feed{
  .make-row();
  .brand_internal_news{
    .make-xs-column(12);
    .image_wrapper{
      clear:both;
      img{
        clear:both;
      }
    }
  }
}

.social_feed{
	.make-row();
	-moz-column-width: 18em;
 	-webkit-column-width: 18em;
 	-moz-column-gap: 1em;
 	-webkit-column-gap: 1em; 
	.social_feed_item{
		/*.make-sm-column(8);*/
		/*margin-top: 20px;*/
		display: inline-block;
 		margin:  0.25rem;
 		padding:  1rem;
 		width:  100%; 
		.inner_social_feed_item{
			border: 1px solid #d8d8d8;
			.img_wrapper{
				.make-xs-column(6);
				padding:17px 0px 5px 17px;
				img{
					width:100%;
					height:auto;
				}
			}
			.info_wrapper{
				padding:0px 17px 5px 0px;
				.make-xs-column(18);
				margin-top:17px;
				h4{
					font-weight:bold;
					margin:0;
				}
				.annotation{
					color: #ceced0;
					padding-left:0;
					margin:0;
				}
			}
			p{
				margin:0px 17px 5px 17px;
				.clearfix();
				clear:both;
			}
			.post_img_wrapper{
				.clearfix();
				width:100%
				padding:0;
				margin:10px;
				img{
					width:100%;
					height:auto;
				}
			}
			.post_interactivity{
				.clearfix();
				.make-row();
				padding:10px 17px;
				.gplus_likes{
					.make-xs-column(4);
					border: 1px solid #d8d8d8;
					text-align:center;
					border-radius: 3px;
					color: #d8d8d8;
					-webkit-box-shadow: 1px 1px 1px 0px rgba(206,206,208,1);
					-moz-box-shadow: 1px 1px 1px 0px rgba(206,206,208,1);
					box-shadow: 1px 1px 1px 0px rgba(206,206,208,1);
					margin-right:10px;
					a{
						color: #d8d8d8;
					}
				}
				.fb_shares{
					.make-xs-column(4);
					border: 1px solid #d8d8d8;
					text-align:center;
					border-radius: 3px;
					color: #d8d8d8;
					-webkit-box-shadow: 1px 1px 1px 0px rgba(206,206,208,1);
					-moz-box-shadow: 1px 1px 1px 0px rgba(206,206,208,1);
					box-shadow: 1px 1px 1px 0px rgba(206,206,208,1);
					background-image: url('../images/share-arrow.png');
					background-repeat:no-repeat;
					background-position: center;
					a{
						color: #d8d8d8;
					}
				}
				.fb_like_images{
					text-align:right;
					.make-xs-column(15);
					img{
						width:19px;
						height:19px;
						margin-left:5px;
					}
				}
				
			}
			.fb_comments{
				font-weight:bold;
				background-color: #f5f5f5;
				.clearfix();
				padding:10px;
				font-size:0.9em;
				border-top:1px solid #e5e5e5;
				/*.make-row();*/
				.inner_fb_comment{
					.make-xs-column(24);
					font-weight:normal;
					padding:0;
					span{
						font-weight:bold;
					}
					.comments_img_wrapper{
						margin-top:10px;
						.clearfix();
						.make-xs-column(4);
						padding:0;
						img{
							width:100%;
							height:auto;
						}	
					}
					.comments_info_wrapper{
						.clearfix();
						.make-xs-column(20);
						h5{
							font-weight:bold;
							margin:0;
							padding:0;
							
						}
						.annotation{
							color: #ceced0;
							padding-left:0;
							margin:0;
						}
						p{
							margin:0;
						}
					}
				}
				form{
					input{
						width:100%;
						border: 1px solid #ceced0;
						margin-top:10px;
						padding:5px;
					}
				}				
			}
		}
	}
}

.feed_wrapper{
	.wp-prev-next{
		ul{
			li{
				display:block;
				width: 124px;
				height: 38px;
				line-height:38px;
				vertical-align:middle;
				text-transform:uppercase;
				text-align:center;
				background-color: #2f2f2f;
				a{
					color: #fff;
					width: 100%;
					height:100%
					display:block;
				}
			}
			.next-link{
				float:right;
				margin-right:10px;
			}
		}
	}
}
.news_feed {
	.internal_news_row{
	  .make-row();
	  .brand_internal_news{
	    margin-bottom:20px;
	    min-height:186px;
      .make-sm-column(8);
      .make-xs-column(24);
      .image_wrapper{
        overflow:hidden;
        display:block;
        .make-sm-column(24);
        .make-xs-column(12);
      }
      .article-header{
        .make-xs-column(12);
        .make-sm-column(24);
        h2{
          font-size: 1.2em;
          margin-bottom:0;
        } 
      }
    }
  }
  .similar_brand{
    .brand_internal_news{
      .make-sm-column(6);
      .make-xs-column(24);
    }
  }
}

/***** Slideshow on Brand Page ****/

.brand_archive {
	.article-slideshow {
		.make-row();
		position: relative;
		padding-top: 1em;
		margin-bottom: 2em;
		margin:0;
	
		.carousel-inner {
			.make-xs-column(24);
			padding: 0;
			
		}
		.item {
			overflow: hidden;
			.slideshow-image {
				width:100%;
				overflow:hidden;
				height:380px;
				
				img {
					margin-bottom: 0;
					width: 100%;
					height:	auto;
				}
				.slideshow-image-actions {
					border: 1px solid #C9C9C9;
					overflow: hidden;
					a {
						position: absolute;
						border-right: 1px solid @gray-light;
						padding: 0 0.5em;
						line-height: 1.5em;
						width: 32px;
						height: 30px;
						background: white url("../images/sprite.png") no-repeat;
						text-indent: -9999px;
						cursor: pointer;
					}
				}
			}
			
		}
		.portrait {
			.slideshow-image {
				.make-sm-column(14);
        .make-xs-column(24);
				padding-left: 32px;
				padding-right: 0px;
			}
			.carousel-caption {
				.make-sm-column(10);
        .make-xs-column(24);
				padding-left: 32px;
				padding-right: 5px;
				
			}
		}
		.landscape {
			.slideshow-image {
				.make-xs-column(24);
				padding-left: 32px;
				padding-right: 5px;
				margin-bottom: 1em;
			}
			.carousel-caption {
				.make-xs-column(24);
				position: static;
				padding: 0 32px;
				h2 {
					margin: 1em 0 0 0;
				}
			}
		}
		.carousel-caption {
			left: 0;
			right: 0;
			padding-bottom: 1em;
			text-shadow: none;
			text-align: left;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	
			h2 {
				color: black;
				font-size: 1em;
				font-weight: bold;
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				margin: 0 0 1em 0;
			}
		}
		.carousel-control {
			width: 32px;
			height: 60px;
			background: rgba(0, 0, 0, 0.95) url("../images/sprite.png") no-repeat;
			text-indent: -9999px;
			position: absolute;
			top: 5em;
			margin-top: -30px;
			opacity: 0.75;
			background-position: -4px 0;
			z-index: 1000;
		}
		.carousel-control.left {
			/*left: 10px;*/
			background-position: -272px 7px;
		}
		.carousel-control.right {
			/*right: 10px;*/
			background-position: -310px 7px;
		}
	}
	.gallery-indicators {
		.make-row();
		padding: 1em 0;
		clear: both; 

		.carousel-inner {
			.make-xs-column(24);
			padding: 0;

			.item {
				padding: 0 10px;
				.make-row();
				.hidden-xs;
				.gallery-indicator-link {
					.make-sm-column(6);
					cursor: pointer;
					display:none;
					.inner-galler-indicator-link{
						height: 102px;
						img {
							height:auto;
							width:100%;
						}
					}
				}
			}
		}
	}
}

.runway_tag_link{
  .image_wrapper{
    img{
      width:100%;
      height:auto;
    }
  }
}
