@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=vietnamese,latin-ext");
.navbar:before, .navbar-header:before, .navbar-collapse:before, .laurier-container:before, #laurier-content:before, .section-home:before, .box01 .box01-body:before, .share-template:before, .show03 .sentence-temp:before, .share-template.finish .instock .form-inline:before, .infor-temp:before, .gallery:before, .number-1:before, .navbar:after, .navbar-header:after, .navbar-collapse:after, .laurier-container:after, #laurier-content:after, .section-home:after, .box01 .box01-body:after, .share-template:after, .show03 .sentence-temp:after, .share-template.finish .instock .form-inline:after, .infor-temp:after, .gallery:after, .number-1:after {
  content: " ";
  display: table;
}
.navbar:after, .navbar-header:after, .navbar-collapse:after, .laurier-container:after, #laurier-content:after, .section-home:after, .box01 .box01-body:after, .share-template:after, .show03 .sentence-temp:after, .share-template.finish .instock .form-inline:after, .infor-temp:after, .gallery:after, .number-1:after {
  clear: both;
}

.navbar:before, .navbar-header:before, .navbar-collapse:before, .laurier-container:before, #laurier-content:before, .section-home:before, .box01 .box01-body:before, .share-template:before, .show03 .sentence-temp:before, .share-template.finish .instock .form-inline:before, .infor-temp:before, .gallery:before, .number-1:before, .navbar:after, .navbar-header:after, .navbar-collapse:after, .laurier-container:after, #laurier-content:after, .section-home:after, .box01 .box01-body:after, .share-template:after, .show03 .sentence-temp:after, .share-template.finish .instock .form-inline:after, .infor-temp:after, .gallery:after, .number-1:after {
  content: " ";
  display: table;
}
.navbar:after, .navbar-header:after, .navbar-collapse:after, .laurier-container:after, #laurier-content:after, .section-home:after, .box01 .box01-body:after, .share-template:after, .show03 .sentence-temp:after, .share-template.finish .instock .form-inline:after, .infor-temp:after, .gallery:after, .number-1:after {
  clear: both;
}

*, :before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  /* I do NOT want hz scroll */
}

body {
  line-height: 24px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #003377;
  font-size: 18px;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
    line-height: 20px;
  }
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

iframe {
  border: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

a {
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
a:hover, a:active {
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
  color: #003377;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

button, [type="button"], [type="submit"] {
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

p {
  margin-bottom: 15px;
}
p:last-child {
  margin-bottom: 0;
}

.navbar {
  position: relative;
  min-height: 50px;
}

.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 1px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}
.navbar-collapse.in {
  overflow-y: auto;
}
@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
}

.laurier-wrap .header-nav .navbar-collapse {
  max-height: auto;
}

.container > .navbar-collapse {
  margin-right: 15px;
  margin-left: 15px;
}
@media (min-width: 768px) {
  .container > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}

.navbar-nav {
  margin: 7.5px -15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.logo {
  position: relative;
  margin: 16px 0 0 14px;
  float: left;
}
@media screen and (max-width: 767px) {
  .logo {
    margin-top: 10px;
    margin-left: 8px;
  }
  .logo img {
    height: 114px;
  }
}

.list-group li {
  list-style: none;
}
.list-group li a {
  color: #003377;
  font-size: 18px;
  display: block;
  padding: 12px 0;
}
.list-group li:hover a, .list-group li:focus a, .list-group li.active a {
  font-weight: bold;
}

header {
  position: relative;
}
@media screen and (max-width: 767px) {
  header {
    margin-bottom: 16px;
  }
}

.nav-toggle {
  width: 42px;
  height: 42px;
  background: url("../images/front/nav.png") no-repeat 0 0;
  display: inline-block;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 35px;
  right: 30px;
  z-index: 100;
}

@media screen and (max-width: 767px) {
  .laurier-nav {
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    background: url("../images/bg-nav.png") no-repeat top right;
    z-index: 99;
    bottom: 0;
    text-align: right;
    padding: 85px 30px 0 0;
    min-height: 410px;
  }
  .laurier-nav ul {
    margin: 0;
  }
}
@media screen and (max-width: 599px) {
  .laurier-nav {
    background-position: top left;
  }
}

.show-nav .nav-toggle {
  background-position: 0 -58px;
}
.show-nav .laurier-nav {
  right: 0;
}

.laurier-wrap {
  position: relative;
  background-repeat: no-repeat;
  background-position: center 0;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .laurier-wrap {
    min-height: 800px;
  }
}
@media screen and (max-width: 767px) {
  .laurier-wrap {
    background-size: cover;
  }
}

.laurier-container {
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .laurier-container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .laurier-container {
    width: 750px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
  .laurier-container {
    width: 970px;
  }
}

.laurier-home {
  background-image: url("../images/bg-home.png");
}
@media screen and (max-width: 767px) {
  .laurier-home {
    /*background-image: url("../images/bg-home-mobile.png");*/
    background: url("../images/bg-home-mobile.png") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #e4f9fb;
  }
}
@media screen and (max-width: 767px) {
  .laurier-home .laurier-footer {
    background-image: none;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

#laurier-content {
  min-height: 444px;
}

.leftcol {
  float: left;
  width: 25%;
}
.leftcol .list-group {
  margin-top: 36px;
}
@media screen and (max-width: 767px) {
  .leftcol .list-group {
    margin-top: 0;
  }
}

.maincol {
  float: left;
  width: 75%;
}
@media screen and (max-width: 767px) {
  .maincol {
    width: 100%;
  }
}

.title-general {
  color: #6e3d23;
  margin: 0 0 14px;
  font-size: 28px;
  font-weight: 700;
  font-style: italic;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}
.title-general.small {
  font-size: 24px;
  margin-bottom: 10px;
}

.text-title {
  margin-bottom: 16px;
}
@media screen and (max-width: 767px) {
  .text-title {
    margin-bottom: 8px;
  }
}

.gbox {
  max-width: 494px;
  text-align: center;
  padding-top: 13px;
}
.gbox .gbox-desc {
  padding-bottom: 22px;
}
@media screen and (max-width: 767px) {
  .gbox .gbox-desc {
    margin-bottom: 0;
  }
}
.gbox .gbox-desc p {
  margin-bottom: 7px;
}

.gbox-login-fb {
  border: 2px dashed #003377;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 6px 9px 5px 9px;
  display: inline-block;
  max-width: 322px;
  text-align: left;
  color: #003377;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-top: 10px;
  margin-top: 5px;
}
.gbox-login-fb::before {
  display: inline-block;
  width: 33px;
  height: 33px;
  content: '';
  background: url(../images/front/sprite.png) no-repeat -38px -52px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
  margin-right: 5px;
  float: left;
  margin-top: 5px;
}
@media screen and (max-width: 767px) {
  .gbox-login-fb {
    font-size: 14px;
  }
}

.laurier-share {
  background-image: url("../images/bg-share.png");
}
@media screen and (max-width: 767px) {
  .laurier-share {
    background-image: url("../images/bg-share-mobile.png");
    background-color: #fff;
  }
}

.box01 .box01-heading {
  text-align: center;
  margin-left: 43.83%;
  width: 48%;
}
@media screen and (max-width: 767px) {
  .box01 .box01-heading {
    width: 100%;
    margin-left: 0;
  }
}
.box01 .box01-heading .text-title {
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .box01 .box01-body {
    margin-bottom: 40px;
  }
}
.box01 .button-footer {
  margin-right: 17.09091%;
  text-align: right;
}
@media screen and (max-width: 767px) {
  .box01 .button-footer {
    margin-right: 0;
    text-align: center;
  }
}

#error-message {
  color: red;
}

.profilePic {
  float: left;
  width: 43.83%;
  text-align: center;
  position: relative;
}
.profilePic .profileBtn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
@media screen and (max-width: 991px) {
  .profilePic .profileBtn {
    position: static;
  }
}
@media screen and (max-width: 767px) {
  .profilePic {
    width: 100%;
    margin-top: 0;
  }
}
.profilePic .avatar {
  background: url("../images/bg-pic.png") no-repeat;
  height: 448px;
  width: 355px;
  line-height: 426px;
  text-align: center;
  padding: 0;
  vertical-align: middle;
  max-width: 100%;
  background-size: 100% auto;
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
  .profilePic .avatar {
    line-height: 385px;
    height: 400px;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .profilePic .avatar {
    line-height: 294px;
    height: 310px;
  }
}
@media screen and (max-width: 767px) {
  .profilePic .avatar {
    margin: 10px auto 0 auto;
  }
}
@media screen and (max-width: 360px) {
  .profilePic .avatar {
    height: 393px;
    line-height: 301px;
    width: 300px;
  }
}
.profilePic .avatar .link-browser {
  display: inline-block;
  background: #03a4b2;
  width: 150px;
  height: 150px;
  vertical-align: middle;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  line-height: 26px;
}
.profilePic .avatar .link-browser .alignmiddle {
  display: table-cell;
  vertical-align: middle;
  height: 150px;
  width: 150px;
  font-size: 20px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
}
.profilePic .avatar .link-browser .alignmiddle:after {
  height: 2px;
  width: 40px;
  margin: 0 auto;
  display: block;
  background: #cdedf0;
  margin-top: 2px;
  content: "";
}
.profilePic .avatar img {
  /*padding-top: percentage(36/355);      
  padding-bottom: percentage(56/355);
  */
  padding-right: 12.95775%;
  padding-left: 11.5493%;
  vertical-align: middle;
}

#btn-change-img {
  background: url(../images/front/sprite.png) no-repeat -132px -329px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
  margin-bottom: 10px;
}

.signup-form {
  float: left;
  width: 48%;
  text-align: center;
  margin-top: 28px;
}
@media screen and (max-width: 767px) {
  .signup-form {
    width: 100%;
  }
}
.signup-form .form {
  width: 85%;
  margin: auto auto 27px;
  padding: 0;
}
.signup-form .form.description {
  margin-bottom: 3px;
}
.signup-form .form dd {
  padding: 0;
  margin: 0;
}
.signup-form .form .form-label {
  display: block;
  font-size: 20px;
  margin-bottom: 4px;
  font-weight: 400;
}
.signup-form .form input, .signup-form .form textarea {
  width: 100%;
  background: none;
  text-align: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: italic;
  color: #252525;
  resize: none;
}
.signup-form .form input::-webkit-input-placeholder, .signup-form .form textarea::-webkit-input-placeholder {
  color: #252525;
  font: Roboto;
}
.signup-form .form input:-moz-placeholder, .signup-form .form textarea:-moz-placeholder {
  color: #252525;
  font: Roboto;
  opacity: 1;
}
.signup-form .form input::-moz-placeholder, .signup-form .form textarea::-moz-placeholder {
  color: #252525;
  font: Roboto;
  opacity: 1;
}
.signup-form .form input:-ms-input-placeholder, .signup-form .form textarea:-ms-input-placeholder {
  color: #252525;
  font: Roboto;
}
.signup-form .form input[type="text"] {
  padding: 0;
  height: 34px;
  line-height: 34px;
}
.signup-form .form textarea {
  height: 94px;
  overflow-x: hidden;
  overflow-y: auto;
}

.visible-xs {
  display: none;
}
@media screen and (max-width: 767px) {
  .visible-xs {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .nav-toggle {top: 15px;}  
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@media screen and (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
}

.text-none {
  display: none;
}

.gbtn {
  width: 168px;
  height: 47px;
  cursor: pointer;
  border: none;
  display: inline-block;
}
.gbtn.large {
  width: 217px;
  height: 61px;
}
.gbtn .visiable {
  display: none;
}
.gbtn:hover {
  opacity: 0.85;
}

.gbtn-share {
  background: url(../images/front/sprite.png) no-repeat 0 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
}

.gbtn-continue {
  background: url(../images/front/sprite.png) no-repeat 0 -110px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
}

.gbtn-finish {
  background: url(../images/front/sprite.png) no-repeat 0 -177px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
}

.gbtn-goProfile {
  background: url(../images/front/sprite.png) no-repeat 0 -243px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
}

.share-template {
  margin-top: 60px;
  padding-bottom: 34px;
}
@media screen and (max-width: 767px) {
  .share-template {
    margin-top: 30px;
  }
}
.share-template .choose {
  float: left;
  width: 514px;
  position: relative;
}
.share-template .instock {
  display: block;
  margin-left: 527px;
  overflow: hidden;
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
  .share-template .choose {
    width: 435px;
  }
  .share-template .instock {
    margin-left: 450px;
  }
}
@media screen and (max-width: 767px) {
  .share-template .instock {
    width: 100%;
  }
}
.share-template .instock h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 36px 0 38px;
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
  .share-template .instock h2 {
    padding: 29px 0 32px;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .share-template .instock h2 {
    padding: 0 0 21px;
  }
}
@media screen and (max-width: 767px) {
  .share-template .instock h2 {
    padding: 28px 0 29px;
  }
}
.share-template .instock ul {
  list-style: none;
  padding: 0;
  margin: 0 -7px;
}
.share-template .instock ul li {
  float: left;
  width: 50%;
  padding: 0 7px;
  margin-bottom: 12px;
}
@media screen and (max-width: 767px) {
  .share-template .instock ul li {
    text-align: center;
  }
  .share-template .instock ul li a, .share-template .instock ul li a img{
    width: 100%;    
  }
}
.share-template .instock ul li a {
  display: inline-block;
  position: relative;
}
.share-template .instock ul li.active a:after, .share-template .instock ul li:hover a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #003377;
}

@media screen and (max-width: 991px) {
  .share-template .choose, .share-template .instock {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-top: 20px;
  }
}
.show-template {
  position: relative;
  min-height: 244px;
  overflow: hidden;
  background-color: #fff;
}
.show-template::after {
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.show-template .img-logo {
  position: relative;
  top: 10px;
  max-width: 70px;
  z-index: 20;
}
.show-template .imgUpload {
  position: absolute;
  top: 0;
  z-index: 10;
}

.sentence-temp {
  padding-top: 30px;
  text-align: center;
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .sentence-temp {
    padding-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .sentence-temp {
    padding-top: 15px;
  }
}
.sentence-temp h2 {
  font-size: 13px;
  margin: 0 15px 0 20px;
  line-height: 1.3;
  font-weight: 500;
}
.sentence-temp .author {
  font-size: 13px;
  padding-top: 15px;
  margin-top: 0;
  line-height: 1.2;
  font-weight: 500;
  font-style: italic;
}
@media screen and (max-width: 767px) {
  .sentence-temp .author {
    padding-top: 8px;
  }
}

.show01::after {
  background-image: url("../images/template/template-01-show.png");
}
.show01 .img-logo {
  left: 20px;
}
.show01 .imgUpload {
  width: 58.36576%;
  right: 0;
}
.show01 .sentence-temp {
  position: relative;
  left: 10px;
  z-index: 30;
  width: 42.80156%;
}

.show02::after {
  background-image: url("../images/template/template-02-show.png");
}
.show02 .img-logo {
  left: 20px;
}
.show02 .imgUpload {
  width: 58.36576%;
  right: 0;
}
.show02 .sentence-temp {
  position: relative;
  left: 10px;
  z-index: 30;
  width: 42.80156%;
}

.show03::after {
  background-image: url("../images/template/template-03-show.png");
}
.show03 .img-logo {
  right: 20px;
  float: right;
  left: auto;
  position: absolute;
}
.show03 .imgUpload {
  width: 48.63813%;
  left: 0;
  z-index: 11;
  top: auto;
  bottom: 0;
  height: 100%;
}
.show03 .imgUpload img {
  max-height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.show03 .sentence-temp {
  position: relative;
  right: 10px;
  padding: 80px 10px 0;
  float: right;
  z-index: 30;
  width: 52.52918%;
  left: auto;
}

.show04::after {
  background-image: url("../images/template/template-04-show.png");
}
.show04 .img-logo {
  left: 20px;
}
.show04 .imgUpload {
  width: 58.36576%;
  right: 0;
}
.show04 .sentence-temp {
  position: relative;
  left: 10px;
  z-index: 30;
  width: 42.80156%;
}

@media screen and (max-width: 767px) {
  .share-template.finish .instock {
    margin-top: 20px;
  }
}
.share-template.finish .instock p {
  margin-bottom: 10px;
}
.share-template.finish .instock .form-inline {
  position: relative;
  margin-bottom: 10px;
}
.share-template.finish .instock .form-inline .form-label {
  float: left;
  width: 117px;
  margin-top: 6px;
}
.share-template.finish .instock .form-inline .outer {
  margin-left: 117px;
}
.share-template.finish .instock .form-inline .outer input {
  border-bottom: 1px solid #003377;
  background: none;
  width: 100%;
  height: 30px;
}
.share-template.finish .instock .form-inline .outer input::-webkit-input-placeholder {
  color: #003377;
  font: Roboto;
}
.share-template.finish .instock .form-inline .outer input:-moz-placeholder {
  color: #003377;
  font: Roboto;
  opacity: 1;
}
.share-template.finish .instock .form-inline .outer input::-moz-placeholder {
  color: #003377;
  font: Roboto;
  opacity: 1;
}
.share-template.finish .instock .form-inline .outer input:-ms-input-placeholder {
  color: #003377;
  font: Roboto;
}
.share-template.finish .instock .form-inline .required {
  color: #ed1b2e;
  font-size: 14px;
  font-style: italic;
  position: absolute;
  right: 0;
  top: 2px;
}
.share-template.finish .instock .gbtn {
  margin-top: 27px;
}

.goProfile {
  margin-left: 42.18182%;
  margin-right: 10.30303%;
  text-align: center;
  font-weight: 700;
  margin-top: 74px;
}
@media screen and (max-width: 767px) {
  .goProfile {
    margin-top: 45px;
  }
}
.goProfile p {
  margin-bottom: 27px;
}
@media screen and (max-width: 991px) {
  .goProfile {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.infor-temp {
  padding: 6px 0 0;
}
.infor-temp h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  float: left;
}
.infor-temp .num {
  float: right;
}
.infor-temp .num span {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
}
.infor-temp .num .like {
  background: url(../images/front/sprite.png) no-repeat 0 -320px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
  padding-left: 20px;
  margin-right: 5px;
}
.infor-temp .num .share {
  background: url(../images/front/sprite.png) no-repeat 0 -348px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
  padding-left: 22px;
}

.avatar-profile {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  line-height: 46px;
  margin-bottom: 5px;
}
.avatar-profile img {
  max-width: 46px;
  max-height: 46px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  vertical-align: middle;
}

.hello {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}
.hello span {
  font-weight: 400;
  font-style: italic;
}
.hello span a {
  color: #003377;
}

.profile {
  padding: 15px 0 0;
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .profile {
    padding-top: 0;
  }
}
.profile .description {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 12px;
  line-height: 20px;
}

a {
  color: #003377;
}

.search-form {
  max-width: 245px;
  border-bottom: 1px solid #003377;
  position: relative;
  padding-right: 30px;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .search-form {
    max-width: 292px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}
.search-form input {
  width: 100%;
  font-size: 16px;
  height: 23px;
  padding: 3px 0 5px;
  background-color: transparent;
}
.search-form input::-webkit-input-placeholder {
  color: #003377;
  font: Roboto;
}
.search-form input:-moz-placeholder {
  color: #003377;
  font: Roboto;
  opacity: 1;
}
.search-form input::-moz-placeholder {
  color: #003377;
  font: Roboto;
  opacity: 1;
}
.search-form input:-ms-input-placeholder {
  color: #003377;
  font: Roboto;
}
.search-form button {
  background: url(../images/front/sprite.png) no-repeat -275px -120px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
  display: block;
  position: absolute;
  bottom: 3px;
  right: 0;
  width: 25px;
  height: 20px;
}

.gallery {
  margin: 0 -22px 3px;
  padding: 0;
  list-style: none;
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
  .gallery {
    margin-right: -10px;
    margin-left: -10px;
  }
}
.gallery li {
  float: left;
  width: 33.33%;
  margin-bottom: 20px;
  padding: 0 22px;
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
  .gallery li {
    padding: 0 10px;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .gallery li {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .gallery li {
    width: 100%;
    text-align: center;
  }
  .gallery li .infor-temp {
    text-align: left;
  }
}
@media screen and (max-width: 767px) {
  .gallery li .infor-temp {
    max-width: 292px;
    margin-right: auto;
    margin-left: auto;
  }
}

.pagging {
  text-align: center;
  font-size: 16px;
  margin-bottom: 3px;
}
.pagging.bg {
  background: url("../images/bg-pagging.png") no-repeat center center;
  margin-bottom: -50px;
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .pagging.bg {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .pagging.bg {
    margin-bottom: 0;
  }
}
.pagging a:hover {
  font-weight: 700;
}
.pagging .current {
  font-weight: 700;
}

.back-gallery {
  text-align: center;
}
.back-gallery a {
  display: inline-block;
  background: url(../images/front/sprite.png) no-repeat 0 -375px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
  font-size: 16px;
  padding-left: 17px;
  line-height: 20px;
}

.title-prize {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 23px;
  font-weight: 700;
  padding-left: 12px;
  background: url("../images/bg-title.png") no-repeat;
  margin: 0;
  margin-bottom: 7px;
}
@media screen and (max-width: 767px) {
  .title-prize {
    max-width: 292px;
    margin-right: auto;
    margin-left: auto;
  }
}

.number-1 {
  width: 605px;
  max-width: 100%;
  margin: 30px auto 6px;
}
@media screen and (max-width: 767px) {
  .number-1 {
    margin-bottom: 25px;
    max-width: 292px;
  }
}
.number-1 .temp {
  float: left;
  width: 48.26%;
}
@media screen and (max-width: 767px) {
  .number-1 .temp {
    width: 100%;
    text-align: center;
  }
  .number-1 .temp .infor-temp {
    text-align: left;
  }
}
.number-1 .text {
  float: left;
  width: 51.74%;
  padding-left: 20px;
  font-size: 16px;
  padding-top: 27px;
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .number-1 .text {
    padding-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .number-1 .text {
    width: 100%;
    padding-left: 0;
    padding-top: 15px;
  }
}
.number-1 .text .name {
  font-size: 20px;
  font-weight: 700;
}
.number-1 .text p {
  margin-bottom: 0;
  line-height: 20px;
  text-align: justify;
}

.laurier-prize {
  background-image: url("../images/bg-prize.png");
}
@media screen and (max-width: 767px) {
  .laurier-prize {
    background-image: url("../images/bg-rule-mobile.png");
  }
}
.laurier-prize .gbox {
  max-width: 345px;
  padding-top: 0px;
}
@media screen and (max-width: 767px) {
  .laurier-prize .gbox {
    max-width: 100%;
  }
}

.uppercase {
  text-transform: uppercase;
}

.text-prize {
  text-align: left;
  width: 370px;
  max-width: 100%;
}
@media screen and (max-width: 1199px) {
  .text-prize {
    width: 400px;
  }
}
@media screen and (max-width: 767px) {
  .text-prize {
    width: 100%;
  }
}
.text-prize img {
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
}

.over-header {
  margin-top: -100px;
}
@media screen and (max-width: 767px) {
  .over-header {
    margin-top: 0;
  }
}

.laurier-rule {
  background: url("../images/bg-rule.png") no-repeat center top;
}
@media screen and (max-width: 767px) {
  .laurier-rule {
    background-image: url("../images/bg-rule-mobile.png");
  }
}
.laurier-rule .laurier-footer {
  background-image: none;
}

.rules {
  margin-left: 70px;
}
@media screen and (max-width: 767px) {
  .rules {
    margin-left: 0;
    margin-top: 15px;
  }
}
.rules h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.rules .inner-rule {
  height: 300px;
}
.rules .inner-rule .rule-description {
  padding-right: 40px;
}
.rules .inner-rule p {
  margin-bottom: 15px;
  line-height: 28px;
}

.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.nano > .nano-content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.nano > .nano-content:focus {
  outline: thin dotted;
}

.nano > .nano-content::-webkit-scrollbar {
  display: none;
}

.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}

.nano > .nano-pane {
  background: #fff;
  position: absolute;
  width: 4px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 3px;
  visibility: visible\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: 1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.nano > .nano-pane > .nano-slider {
  position: relative;
  background: url("../images/front/bullet.png") no-repeat center center;
  margin: 0 -3.5px 0 -3.5px;
  cursor: pointer;
}

.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility: visible\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: 0.99;
}

.normal {
  margin-bottom: 10px !important;
}

.timestart table {
  margin: 0 auto 20px auto;
}
.timestart table th, .timestart table td {
  padding: 5px 10px;
  border: 1px solid #0a8893;
  text-align: left;
}
.timestart table th {
  font-weight: bold;
}

ol.listtype {
  margin: 0 0 0 40px;
}
ol.listtype li {
  margin-bottom: 10px;
}
ol.listtype ol {
  margin: 0;
  list-style: none;
}
ol.listtype ol li {
  background: url("../images/front/check.png") no-repeat 0 8px;
  padding-left: 20px;
}
ol.listtype .disc-content {
  list-style: disc;
  margin-left: 40px;
}
ol.listtype .disc-content li {
  background: none;
  padding-left: 0;
}

#header-brand {
  position: absolute;
  margin-top: 2.08333%;
  margin-left: 3.48958%;
  left: 0;
  z-index: 80;
  top: 0;
}
@media screen and (max-width: 767px) {
  #header-brand {
    max-width: 100px;
  }
}
#header-brand strong {
  position: absolute;
  top: -9999em;
  text-indent: -99999em;
}

#cont {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 70;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .sp {
    /*display: block;*/
  }
}

.sentence {
  max-width: 750px;
  position: absolute;
  top: 50%;
  width: 78.125%;
  margin-left: 2.34375%;
  margin-top: -2.86458%;
}
@media screen and (max-width: 991px) {
  .sentence {
    top: 30%;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    padding-left: 12px;
    padding-right: 12px;
  }
}
.sentence h2 {
  font-size: 38px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  text-align: center;
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
  .sentence h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 991px) {
  .sentence h2 {
    font-size: 22px;
  }
}
.sentence .author {
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  margin-top: 23px;
  padding-top: 25px;
  margin-bottom: 0;
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
  .sentence .author {
    font-size: 22px;
  }
}
@media screen and (max-width: 991px) {
  .sentence .author {
    font-size: 18px;
    margin-top: 0;
    padding-top: 15px;
  }
}

.img-figure {
  position: absolute;
  bottom: 0;
  width: 58.59375%;
  z-index: 10;
}

.template01 {
  min-height: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.template01::after {
  background-image: url("../images/template/template-01.png");
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.template01 .sentence {
  left: 0;
}
.template01 .img-figure {
  right: 0;
}

.template02 {
  min-height: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.template02::after {
  background-image: url("../images/template/template-02.png");
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center bottom;
}
@media screen and (max-width: 991px) {
  .template02::after {
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
  }
}
.template02 .img-figure {
  width: 40.10417%;
  margin-right: 6.25%;
}
.template02 .sentence {
  left: 0;
}
.template02 .img-figure {
  right: 0;
}

.template03 {
  min-height: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.template03::after {
  background-image: url("../images/template/template-03.png");
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center bottom;
}
.template03 .img-figure {
  width: 40.10417%;
  margin-right: 6.25%;
}
.template03 .sentence {
  right: 0;
}
.template03 .img-figure {
  left: 0;
}

.template04 {
  min-height: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.template04::after {
  background-image: url("../images/template/template-04.png");
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.template04 .img-figure {
  width: 51.82292%;
  margin-right: 3.38542%;
}
.template04 .sentence {
  left: 0;
  top: 55.49451%;
  margin-top: 0;
}
@media screen and (max-width: 991px) {
  .template04 .sentence {
    top: 30%;
  }
}
.template04 .img-figure {
  right: 0;
}

@media screen and (max-width: 767px) {
  .laurier-footer {
    background: url("../images/bgi-footer-sp.png") no-repeat scroll top left;
    background-size: 100% 100%;
    padding-top: 22px;
  }
}

.footer-area {
  float: left;
  width: 360px;
}
@media screen and (max-width: 767px) {
  .footer-area {
    width: 50%;
  }
}
.footer-area .connect {
  position: relative;
  text-align: center;
  padding-bottom: 33px;
}
@media screen and (max-width: 767px) {
  .footer-area .connect {
    padding-bottom: 20px;
  }
}
.footer-area .connect img.product {
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .footer-area .connect img.product {
    max-width: 140px;
  }
}
.footer-area .connect-us {
  position: absolute;
  bottom: 22px;
  left: 0;
  right: 0;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 767px) {
  .footer-area .connect-us {
    bottom: 8px;
  }
}
.footer-area .connect-us label {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
}
@media screen and (max-width: 767px) {
  .footer-area .connect-us label {
    font-size: 12px;
  }
}
.footer-area .connect-us .connect-fb-link {
  display: inline-block;
  width: 33px;
  height: 33px;
  position: relative;
  vertical-align: middle;
  background: url("../images/front/fb.png") no-repeat 0 0;
}
@media screen and (max-width: 767px) {
  .footer-area .connect-us .connect-fb-link {
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
  }
}
.footer-area .connect-us .connect-fb-link strong {
  position: absolute;
  top: -9999em;
  text-indent: -99999em;
}
.footer-area .connect-us .connect-fb-link:hover {
  opacity: 0.85;
}

.organizational-brand {
  float: left;
  margin-left: 55px;
  margin-top: 120px;
}
@media screen and (max-width: 767px) {
  .organizational-brand {
    width: 50%;
    margin-left: 0;
    margin-top: 0;
  }
}

.brand {
  vertical-align: middle;
  width: 100%;
  display: inline-block;
  font-size: 0;
}
.brand label, .brand span {
  display: inline-block;
  vertical-align: bottom;
}
.brand label {
  font-size: 14px;
  font-weight: normal;
}
.brand span {
  margin-left: 12px;
}

@media screen and (max-width: 767px) {
  .brand {
    text-align: center;
  }
  .brand label {
    display: block;
    text-align: center;
  }
  .brand span {
    margin-left: 6px;
  }
}
@media print {
  @page {
    size: landscape;
  }
}
@media print and (color) {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

@media screen and (max-width: 767px) {
  .single-cgqn header {
    margin-bottom: 0px;
  }
  .single-cgqn .navbar {
    min-height: 1px;
  }
  .single-cgqn .footer {
    display: none;
  }
}

body.single-cgqn footer.footer{
  display: none;
}

 .show-desktop { display: block; }
.show-mobile {display: none;}
@media screen and (max-width: 480px) {
  .show-desktop {
    display: none;
  }
  .show-mobile {display: block;}
  .maincol .gbox {max-width: 75%;}
}

body.single-cgqn {
	font-family: Helvetica, sans-serif;
}
body.single-cgqn h1, body.single-cgqn h2, body.single-cgqn h3, body.single-cgqn h4, body.single-cgqn h5, body.single-cgqn h6, body.single-cgqn .h1, body.single-cgqn .h2, body.single-cgqn .h3, body.single-cgqn .h4, body.single-cgqn .h5, body.single-cgqn .h6{
	font-family: Helvetica, sans-serif;
}

/***********************************
********** Fix layout thu vien *****
************************************/
.share-template.finish .choose img{
  max-height: 244px;
  min-width: 246px;
}
@media screen and (min-width: 975px) {
  .gallery img{
    max-height: 117px;
    min-width: 246px;
  }
}

@media screen and (max-width: 975px) {
  .gallery img{
    max-height: 123px;
    min-width: 246px;
  }
}

@media screen and (max-width: 700px) {
  .gallery img{
    max-height: 187px;
    width: 100%;
  }
  .share-template.finish .choose img{
    min-width: 246px;
  }
}

@media screen and (max-width: 380px) {
  .gallery img{
    max-height: 142px;
    width: 100%;
  }
}

.gallery li{
  min-height: 164px;
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .share-template{
    padding-bottom: 10px;
  }
  .share-template .instock ul li{
    width: 25%;
  }
  .share-template.finish .instock .gbtn{
    margin-top: 10px;
  }
  .laurier-share{
    background-size: cover;
  }
}

.maincol a,
.maincol a:visited,
.maincol a:hover,
.maincol a:focus,
.maincol a:active{
  color: #003377
}
.show03 .sentence-temp h2{
  margin: 0;
}
.show04 .sentence-temp h2{
  margin-right: 40px;
}
.show02 .sentence-temp h2{
  margin: 0 -5px 0 20px;
}
@media screen and (min-width: 768px) {
  .number-1 .text p{
    margin-right: -80px;
  }
}

.author{
  background: url("../images/template/light.png") no-repeat scroll top center;
  background-position-y: 21px; 
}

@media screen and (max-width: 768px) {
  .show-template {
    min-height: 175px;
  }
}
@media screen and (min-width:992px){
 .gallery li:nth-child(3n+4){clear:left;} 
}
@media screen and (max-width: 991px) and (min-width: 768px){
 .gallery li:nth-child(2n+3){clear:left;} 
}